<!-- Section Content -->
<section id="bookingForm" class="text-center g-color-white g-bg-primary g-py-80">
    <div class="container g-max-width-780">
        <div class="text-center text-uppercase u-heading-v7-3 g-mb-30">
            <h3 class="g-font-weight-700 g-font-size-12 g-color-white-opacity-0_7 g-mb-20">Booking from</h3>
            <h2 class="u-heading-v7__title g-font-weight-700 g-font-size-32 g-font-size-40--md g-color-white g-mb-30">
                Reservation with open table</h2>

            <div class="u-heading-v7-divider g-brd-gray-light-v4">
                <i class="fa fa-circle"></i>
            </div>
        </div>

        <p class="g-color-white-opacity-0_7 g-mb-75">Etiam ultrices lacus ut ligula vestibulum, sit amet mattis nunc
            elementum. Nam arcu enim, euismod nec purus non, aliquam congue ante. Nulla faucibus enim mauris,
            fringilla mollis ligula sollicitudin mollis.</p>
    </div>

    <div class="container">
        <form novalidate #form="ngForm" (ngSubmit)="onSubmit(form)">
            <div class="text-center text-uppercase u-heading-v7-3 g-mb-30">
                <h3 class="g-font-weight-700 g-font-size-12 g-color-white-opacity-0_7 g-mb-20">{{ message }}</h3>
        </div>
            <div class="row g-mb-40">
                <div class="col-md-4 pb-2">
                    <div class="form-group g-pos-rel">
                        <!--<input name="name" [(ngModel)]="booking.name" #name="ngModel" required
                            class="form-control h-100 u-theme-shadow-v1 g-font-size-default g-color-white g-placeholder-inherit g-theme-bg-primary-dark-v1 g-brd-none rounded-0 g-px-25 g-py-13"
                            type="text" placeholder="Reservation name">

                        <div class="g-pos-abs g-top-0 g-right-0 g-flex-centered g-width-40 h-100 g-color-white">
                            <i class="fa fa-calendar"></i>
                        </div>-->
                        <mat-form-field class="form-control u-theme-shadow-v1 g-theme-bg-primary-dark-v1 g-color-white g-brd-none">
                            <mat-label>Reservation name</mat-label>
                            <input matInput placeholder="Nombre del menu" name="name" [(ngModel)]="booking.name" #name="ngModel" 
                                required placeholder="Responsable del booking">
                            
                            <div class="g-pos-abs g-top-0 g-right-0 g-flex-centered g-width-40 h-100 g-color-white">
                                <i class="fa fa-ticket fa-male"></i>
                            </div>
                            <mat-hint>Responsable del booking</mat-hint>
                            <mat-error *ngFor="let error of getValidationMessages(name)">
                                <span [innerHTML]="error"></span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-4 pb-2">
                    <div class="form-group g-pos-rel">
                        <!--<input name="date" [(ngModel)]="booking.date" #date="ngModel" required                        
                            class="form-control h-100 u-theme-shadow-v1 g-font-size-default g-color-white g-placeholder-inherit g-theme-bg-primary-dark-v1 g-brd-none rounded-0 g-px-25 g-py-13"
                            type="text" placeholder="Reservation date">-->
                            <mat-form-field class="example-full-width" appearance="fill" 
                            class="form-control u-theme-shadow-v1 g-theme-bg-primary-dark-v1 g-color-white g-brd-none">
                                <mat-label>Choose a date</mat-label>
                                <input matInput [ngModelOptions]="{standalone: true}" name="date" [matDatepicker]="picker" [(ngModel)]="booking.date" 
                                #date="ngModel" required [min]="minDate" [max]="maxDate" class="g-color-white" readonly
                                >
                                <mat-datepicker-toggle matSuffix [for]="picker">
                                  <mat-icon matDatepickerToggleIcon>
                                    <div class="g-pos-abs g-top-0 g-right-0 g-flex-centered g-width-40 h-100 g-color-white">
                                        <i class="fa fa-calendar" style="padding-bottom: 5px;
                                        padding-left: 15px;"></i>
                                    </div>
                                  </mat-icon>
                                </mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                                <mat-error *ngFor="let error of getValidationMessages(date)">
                                    <span [innerHTML]="error"></span>
                                </mat-error>
                            </mat-form-field>
                        <!--<div class="g-pos-abs g-top-0 g-right-0 g-flex-centered g-width-40 h-100 g-color-white">
                            <i class="fa fa-calendar"></i>  keyboard_arrow_down
                        </div>-->
                    </div>                    
                </div>

                <div class="col-md-4">
                    <div class="form-group g-pos-rel">
                        <!--<input name="time" [(ngModel)]="booking.time" #time="ngModel" required
                            class="form-control h-100 u-theme-shadow-v1 g-font-size-default g-color-white g-placeholder-inherit g-theme-bg-primary-dark-v1 g-brd-none rounded-0 g-px-25 g-py-13"
                            type="text" placeholder="Reservation time">-->
                            <mat-form-field appearance="fill"
                            class="form-control u-theme-shadow-v1 g-theme-bg-primary-dark-v1 g-color-white g-brd-none">
                                <mat-label i18n="Timepicker 1 Title">Reservation time</mat-label>
                                <input matTimepicker #t1="matTimepicker" i18n-okLabel="Timepicker 1 Ok Label" okLabel="Ok"
                                  i18n-cancelLabel="Timepicker 1 Cancel Label" cancelLabel="Cancel" #time="ngModel" [minDate]="minTime"
                                  [maxDate]="maxTime" id="timepicker-example-1" mode="24h" ngModel placeholder="Please select time"
                                  name="time" [(ngModel)]="booking.time" required>
                                <mat-icon matSuffix (click)="t1.showDialog()">access_time</mat-icon>
                                <mat-error *ngIf="time.touched && time.invalid">Invalid Date</mat-error>
                            </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="row g-mb-40">
                <div class="col-md-4 pb-2">
                    <div class="form-group g-pos-rel">
                        <!--<input name="cantPersonas" [(ngModel)]="booking.cantPersonas" #cantPersonas="ngModel" required
                            class="form-control h-100 u-theme-shadow-v1 g-font-size-default g-color-white g-placeholder-inherit g-theme-bg-primary-dark-v1 g-brd-none rounded-0 g-px-25 g-py-13"
                            type="text" placeholder="Persons">

                        <div class="g-pos-abs g-top-0 g-right-0 g-flex-centered g-width-40 h-100 g-color-white">
                            <i class="fa fa-users"></i>
                        </div>-->
                        <mat-form-field appearance="fill"
                        class="form-control u-theme-shadow-v1 g-theme-bg-primary-dark-v1 g-color-white g-brd-none">
                            <mat-label>Persons</mat-label>
                            <input matInput name="cantPersonas" [(ngModel)]="booking.cantPersonas" #cantPersonas="ngModel" required  type="number" placeholder="Persons">
                            <span matPrefix>#</span>
                            <mat-hint>Number of seats</mat-hint>
                            <div class="g-pos-abs g-top-0 g-right-0 g-flex-centered g-width-40 h-100 g-color-white">
                                <i class="fa fa-users"></i>
                            </div>
                            <mat-error *ngFor="let error of getValidationMessages(cantPersonas)">
                                <span [innerHTML]="error"></span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="form-group g-pos-rel">
                        <!--<textarea placeholder="Aditional booking's information " name="mensaje"
                            [(ngModel)]="booking.mensaje" #mensaje="ngModel"
                            class="form-control h-100 u-theme-shadow-v1 g-font-size-default g-color-white g-placeholder-inherit g-theme-bg-primary-dark-v1 g-brd-none rounded-0 g-px-25 g-py-13"></textarea>
                        -->
                        <mat-form-field class="form-control u-theme-shadow-v1 g-theme-bg-primary-dark-v1 g-color-white g-brd-none">
                            <mat-label>Message</mat-label>
                            <textarea matInput placeholder="Aditional booking's information " name="mensaje" [(ngModel)]="booking.mensaje" #mensaje="ngModel"></textarea>
                            <mat-hint>Notas adicionales para la cena</mat-hint>
                            <div class="g-pos-abs g-top-0 g-right-0 g-flex-centered g-width-40 h-100 g-color-white">
                                <i class="fa fa-comment"></i>
                            </div>
                            <mat-error *ngFor="let error of getValidationMessages(mensaje)">
                                <span [innerHTML]="error"></span>
                            </mat-error>
                        </mat-form-field>
                        </div>
                </div>

            </div>

            <button
                class="btn text-uppercase u-btn-white g-font-weight-700 g-font-size-11 g-theme-color-gray-dark-v2 g-brd-none rounded-0 g-px-30 g-py-25"
                type="submit" role="button"
                [disabled]="form.invalid">Book now</button>
        </form>
    </div>
</section>
<!-- End Section Content -->