<button class="btn btn-primary m-1" (click)="createBooking()">
  Crear Booking
</button>
<mat-form-field class="col-3">
  <mat-label>Buscar x fecha</mat-label>
  <input matInput name="filterDate" [matDatepicker]="pickerFilter" [(ngModel)]="filterDate" class=""
    (dateInput)="filtrarFecha($event)">
  <!--  -->
  <mat-datepicker-toggle matSuffix [for]="pickerFilter"></mat-datepicker-toggle>
  <mat-datepicker #pickerFilter></mat-datepicker>
</mat-form-field>

<button class="btn btn-success float-right" (click)="openPDF()" [class.g-width-60]="submit==true">
  PDF
  <span *ngIf="submit==true" class="g-pos-abs g-top-7">
    <mat-spinner diameter=15 [color]="color"></mat-spinner>
  </span>
</button>
<!--<a class="d-flex align-items-center u-link-v5 g-bg-gray-light-v8--hover g-font-size-12 g-font-size-default--md g-color-gray-dark-v6 g-px-25 g-py-14"
[attr.href]="'#modal123'" [attr.data-modal-target]="'#modal123'" 
data-modal-effect="swell">
<i class="hs-admin-trash g-font-size-18 g-color-gray-light-v6 g-mr-10 g-mr-15--md"></i>
Delete
</a>
<div [attr.id]="'modal123'" class="text-left g-max-width-600 g-bg-white g-overflow-y-auto g-pa-20"
            style="display: none;">
            <button type="button" class="close" onclick="Custombox.modal.close();">
              <i class="hs-icon hs-icon-close"></i>
            </button>
            <h6 class="g-mb-10 g-mt-30">Sign in with your social media account</h6>
            <div class="social-icon">
              <button  type="button"
                class="g-color-blue g-bg-blue-opacity-0_1 g-bg-blue--hover g-color-white--hover">Si</button>
              <button onclick="Custombox.modal.close();" type="button"
                class="g-bg-primary g-color-blue g-bg-blue-opacity-0_1 g-bg-blue--hover g-color-white--hover">No</button>
            </div>
          </div>-->
<div class="" id="htmlData" #htmlData>
  <table class="table u-table--v3 u-editable-table--v1 g-color-black table-sm table-striped" matSort
    (matSortChange)="changeSort($event)">
    <thead>
      <tr>
        <th class="col-3" mat-sort-header="name">Nombre</th>
        <th class="col-3" mat-sort-header="date">Fecha</th>
        <th class="col-1" mat-sort-header="cliente">Clientes</th>
        <th class="col-3" mat-sort-header="fCreada">Creada</th>
        <th class="col-1"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="length==-1">
        <td colspan="4">
          <mat-card class="spiner-tabla wrapper">
            <mat-card-content style="align-content: center;padding-left: 40%;">
              <mat-progress-spinner class="example-margin" [color]="color" [mode]="mode" [value]="value">
              </mat-progress-spinner>
            </mat-card-content>
          </mat-card>
        </td>
      </tr>
      <tr class="" *ngIf="length==0">
        <td colspan="5">
          <h5>No hay resultados</h5>
        </td>
      </tr>
      <tr *ngFor="let item of getBookingList() | paginate : {
        itemsPerPage: pageSize,
        currentPage: currentPage + 1,
        totalItems: length
      };let i = index" [class.active]="i == currentIndex">
        <td class="text-center col-3">{{ item.name }}</td>
        <td class="text-center col-3">{{ item.date | date:'mediumDate' }}, {{ item.time | date:'shortTime'}}</td>
        <td class="text-center col-1">{{ item.cantPersonas }}</td>
        <td class="text-center col-3">{{ item.createdDate | date }}</td>
        <td class="text-right col-1">
          <div class="g-pos-rel g-top-3 d-inline-block" appDropdown>
            <a [attr.id]="'dropDownInvoker'+i" (click)="$event.preventDefault()"
              class="u-link-v5 g-line-height-0 g-font-size-24 g-color-gray-light-v6 g-color-secondary--hover" href="#"
              aria-haspopup="true" aria-expanded="false" data-dropdown-event="click">
              <i class="hs-admin-more-alt"></i>
            </a>

            <div [attr.id]="'dropDown'+i"
              class="dropdown-menu1 u-shadow-v31 g-pos-abs g-right-0 g-z-index-2 g-bg-white u-dropdown--css-animation u-dropdown--hidden u-dropdown">
              <ul class="list-unstyled g-nowrap mb-0">
                <li>
                  <a (click)="editBooking(item.bookingId);$event.preventDefault()"
                    class="d-flex align-items-center u-link-v5 g-bg-gray-light-v8--hover g-font-size-12 g-font-size-default--md g-color-gray-dark-v6 g-px-25 g-py-14"
                    href="#">
                    <i class="hs-admin-pencil g-font-size-18 g-color-gray-light-v6 g-mr-10 g-mr-15--md"></i>
                    Editar
                  </a>
                </li>
                <li>
                  <a  (click)="openDialog(item.bookingId);$event.preventDefault()" class="d-flex align-items-center u-link-v5 g-bg-gray-light-v8--hover g-font-size-12 g-font-size-default--md g-color-gray-dark-v6 g-px-25 g-py-14">
                    <i class="hs-admin-trash g-font-size-18 g-color-gray-light-v6 g-mr-10 g-mr-15--md"></i>
                    Eliminar
                  </a>
                </li>
              </ul>
            </div>
          </div>
          
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- (page)="pageEvent($event)" -->
<mat-paginator [length]="length" [pageIndex]="currentPage" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
  (page)="pageChange($event)" itemsPerPageLabel='Elmentos x página'>
</mat-paginator>