<button class="btn btn-primary m-1" (click)="createEvento()">
    Crear Evento
</button>

<mat-label>Buscar </mat-label>
<mat-checkbox name="destacado" [(ngModel)]="filtro" class="example-margin">Destacado
</mat-checkbox>

<table class="table table-sm table-bordered table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Destacado</th>
            <th></th>
        </tr>
    </thead>


    <tbody>
        <tr *ngIf="length==0">
            <td colspan="4">
                <mat-card class="spiner-tabla wrapper">
                    <mat-card-content style="align-content: center;padding-left: 40%;">
                        <mat-progress-spinner class="example-margin" [color]="color" [mode]="mode" [value]="value">
                        </mat-progress-spinner>
                    </mat-card-content>
                </mat-card>
            </td>
        </tr>
        <tr *ngFor="let item of getEventoList() | paginate : {
        itemsPerPage: pageSize,
        currentPage: currentPage,
        totalItems: length
      };let i = index" [class.active]="i == currentIndex">
            <td>{{ item.name }}</td>
            <td>{{ item.descripcion }}</td>
            <td>{{ item.destacado }}</td>
            <td class="text-center">
                <button class="btn btn-danger btn-sm mr-1" (click)="deleteEvento(item.eventoId)">
                    Delete
                </button>
                <button class="btn btn-warning btn-sm" (click)="editEvento(item.eventoId)">
                    Edit
                </button>
            </td>
        </tr>
    </tbody>
</table>
<!-- (page)="pageEvent($event)" -->
<mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pageChange($event)"
    itemsPerPageLabel='Elmentos x página'>
</mat-paginator>