<div class="js-slide g-px-15">
    <div class="g-pos-rel">
        <!-- Testimonials -->
        <blockquote class="lead u-blockquote-v1 rounded g-pl-60 g-pr-30 g-py-30 g-mb-40">
            <p class="comment">{{ coment.content }}</p>
        </blockquote>
        <div class="media">
            <img class="d-flex align-self-center rounded-circle g-width-60 g-brd-around g-brd-3 g-brd-white mr-3"
                src="{{coment.photoURL}}" alt="Image Description"> 
            <div class="media-body align-self-center">
                <h4 class="h6 g-font-weight-700 g-mb-0">{{ coment.commentedBy }}</h4>
                <em class="g-color-gray-dark-v4 g-font-style-normal">Customer</em>
            </div>
        </div>
        <!-- End Testimonials -->
    </div>
</div>
