<!-- Main Slider -->
<div class="master-slider" id="masterslider">
    <div class="ms-slide">
        <img src="../../../assets/img/blank.gif" alt="Image description"
            data-src="../../../assets/img-temp/1200x800/img1.png">

        <div class="ms-layer text-center g-pos-rel" 
            data-type="text" 
            data-delay="10" 
            data-effect="skewleft(50,340)"
            data-ease="easeOutExpo" 
            data-duration="2200" 
            data-origin="mc" 
            data-offset-x="-100" 
            data-offset-y="15"
            data-resize="true">
            <i class="icon-food-009 g-font-size-60 g-color-white-opacity-0_7 g-mb-10"></i>
            <h2
                class="text-uppercase g-line-height-1_2 g-font-weight-700 g-font-size-30 g-font-size-56--md g-color-white g-mb-10 g-mb-15--md">
                Cuban food</h2>
            <p class="text-uppercase g-line-height-1 g-font-weight-700 g-font-size-default g-font-size-20--md g-color-white g-mb-40 g-mb-50--md">
                Sweet love
            </p>
            <img class="g-width-130 g-height-130 g-brd-around g-brd-10 g-brd-white g-rounded-50x mx-auto g-mb-20 g-mb-25--md"
                src="../../../assets/img-temp/500x500/img1.jpg" alt="Image description">
            <p
                class="text-uppercase g-line-height-1 g-font-weight-700 g-font-size-default g-font-size-20--md g-color-white g-mb-10 g-mb-15--md">
                Fruity caramel</p>
            <p class="g-line-height-1_1 g-font-weight-100 g-font-size-default g-color-white g-mb-10 g-mb-20--md">Sed
                feugiat porttitor nunc, non dignissim ipsum vestibulum in.</p>
            <!--<p class="text-uppercase g-font-weight-700 g-font-size-16 g-color-primary mb-0">$2.50</p>-->
        </div>

        <div class="ms-thumb">Cuban food</div>
    </div>

    <div class="ms-slide">
        <img src="assets/img/blank.gif" alt="Image description" data-src="assets/img-temp/1200x800/finca.png">

        <div class="ms-layer text-center g-pos-rel" data-type="text" data-delay="10" data-effect="skewleft(50,340)"
            data-ease="easeOutExpo" data-duration="2200" data-origin="mc" data-offset-x="-100" data-offset-y="15"
            data-resize="true">
            <i class="icon-food-228 g-font-size-60 g-color-white-opacity-0_7 g-mb-10"></i>
            <h2
                class="text-uppercase g-line-height-1_2 g-font-weight-700 g-font-size-30 g-font-size-56--md g-color-white g-mb-10 g-mb-15--md">
                Fresh from the farm</h2>
            <p
                class="text-uppercase g-line-height-1 g-font-weight-700 g-font-size-default g-font-size-20--md g-color-white g-mb-40 g-mb-50--md">
                100 variety of vegetal</p>
            <img class="g-width-130 g-height-130 g-brd-around g-brd-10 g-brd-white g-rounded-50x mx-auto g-mb-20 g-mb-25--md"
                src="assets/img-temp/500x500/img2.jpg" alt="Image description">
            <p
                class="text-uppercase g-line-height-1 g-font-weight-700 g-font-size-default g-font-size-20--md g-color-white g-mb-10 g-mb-15--md">
                Sushi rolls</p>
            <p class="g-line-height-1_1 g-font-weight-100 g-font-size-default g-color-white g-mb-10 g-mb-20--md">Sed
                feugiat porttitor nunc, non dignissim ipsum vestibulum in.</p>
           <!--  <p class="text-uppercase g-font-weight-700 g-font-size-16 g-color-primary mb-0">$10.00</p>-->
        </div>

        <div class="ms-thumb">From the farm</div>
    </div>

    <div class="ms-slide">
        <img src="../../../assets/img/blank.gif" alt="Image description"
            data-src="../../../assets/img-temp/1200x800/atardecer.jpg">

        <div class="ms-layer text-center g-pos-rel" data-type="text" data-delay="10" data-effect="skewleft(50,340)"
            data-ease="easeOutExpo" data-duration="2200" data-origin="mc" data-offset-x="-100" data-offset-y="15"
            data-resize="true">
            <i class="icon-media-014 g-font-size-60 g-color-white-opacity-0_7 g-mb-10"></i>
            <h2
                class="text-uppercase g-line-height-1_2 g-font-weight-700 g-font-size-30 g-font-size-56--md g-color-white g-mb-10 g-mb-15--md">
                Enjoy the view</h2>
            <p class="text-uppercase g-line-height-1 g-font-weight-700 g-font-size-default g-font-size-20--md g-color-white g-mb-40 g-mb-50--md">
                Sweet love
            </p>
            <img class="g-width-130 g-height-130 g-brd-around g-brd-10 g-brd-white g-rounded-50x mx-auto g-mb-20 g-mb-25--md"
                src="../../../assets/img-temp/500x500/img1.jpg" alt="Image description">
            <p
                class="text-uppercase g-line-height-1 g-font-weight-700 g-font-size-default g-font-size-20--md g-color-white g-mb-10 g-mb-15--md">
                Fruity caramel</p>
            <p class="g-line-height-1_1 g-font-weight-100 g-font-size-default g-color-white g-mb-10 g-mb-20--md">Sed
                feugiat porttitor nunc, non dignissim ipsum vestibulum in.</p>
            <!--<p class="text-uppercase g-font-weight-700 g-font-size-16 g-color-primary mb-0">$2.50</p>-->
        </div>

        <div class="ms-thumb">View</div>
    </div>

    <div class="ms-slide">
        <img src="assets/img/blank.gif" alt="Image description" data-src="assets/img-temp/1200x800/img3.jpg">

        <div class="ms-layer text-center g-pos-rel" data-type="text" data-delay="10" data-effect="skewleft(50,340)"
            data-ease="easeOutExpo" data-duration="2200" data-origin="mc" data-offset-x="-100" data-offset-y="15"
            data-resize="true">
            <i class="icon-food-187 g-font-size-60 g-color-white-opacity-0_7 g-mb-10"></i>
            <h2
                class="text-uppercase g-line-height-1_2 g-font-weight-700 g-font-size-30 g-font-size-56--md g-color-white g-mb-10 g-mb-15--md">
                Dishes for vegans</h2>
            <p
                class="text-uppercase g-line-height-1 g-font-weight-700 g-font-size-default g-font-size-20--md g-color-white g-mb-40 g-mb-50--md">
                Green nature</p>
            <img class="g-width-130 g-height-130 g-brd-around g-brd-10 g-brd-white g-rounded-50x mx-auto g-mb-20 g-mb-25--md"
                src="assets/img-temp/500x500/img3.jpg" alt="Image description">
            <p
                class="text-uppercase g-line-height-1 g-font-weight-700 g-font-size-default g-font-size-20--md g-color-white g-mb-10 g-mb-15--md">
                Special Vegan tomato soup</p>
            <p class="g-line-height-1_1 g-font-weight-100 g-font-size-default g-color-white g-mb-10 g-mb-20--md">Sed
                feugiat porttitor nunc, non dignissim ipsum vestibulum in.</p>
            <!-- <p class="text-uppercase g-font-weight-700 g-font-size-16 g-color-primary mb-0">$7.39</p> -->
        </div>

        <div class="ms-thumb">Dishes for vegans</div>
    </div>

    <div class="ms-slide">
        <img src="../../../assets/img/blank.gif" alt="Image description"
            data-src="../../../assets/img-temp/1200x800/img1.png">
        <div class="ms-layer text-center g-pos-rel" data-type="text" data-delay="10" data-effect="skewleft(50,340)"
            data-ease="easeOutExpo" data-duration="2200" data-origin="mc" data-offset-x="-100" data-offset-y="-15"
            data-resize="true">
            <i class="icon-food-026 g-font-size-60 g-color-white-opacity-0_7 g-mb-10"></i>
            <h2
                class="text-uppercase g-line-height-1_2 g-font-weight-700 g-font-size-30 g-font-size-56--md g-color-white g-mb-10 g-mb-15--md">
                Meat dishes</h2>
            <p
                class="text-uppercase g-line-height-1 g-font-weight-700 g-font-size-default g-font-size-20--md g-color-white g-mb-40 g-mb-50--md">
                Only fresh meat</p>
            <img class="g-width-130 g-height-130 g-brd-around g-brd-10 g-brd-white g-rounded-50x mx-auto g-mb-20 g-mb-25--md"
                src="assets/img-temp/500x500/img1.jpg" alt="Image description">
            <p
                class="text-uppercase g-line-height-1 g-font-weight-700 g-font-size-default g-font-size-20--md g-color-white g-mb-10 g-mb-15--md">
                Juicy steak with special sauce</p>
            <p class="g-line-height-1_1 g-font-weight-100 g-font-size-default g-color-white g-mb-10 g-mb-20--md">Sed
                feugiat porttitor nunc, non dignissim ipsum vestibulum in.</p>
            <!-- <p class="text-uppercase g-font-weight-700 g-font-size-16 g-color-primary mb-0">$9.00</p>-->
        </div>

        <div class="ms-thumb">Meat Dishes</div>
    </div>
</div>
<!-- End Main Slider -->
