/*.columns{
    float: left;
    position: relative;
    margin-right: 20px;
}

ul{
    list-style-type: disc;
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    list-style-position: inside;/*this is important addition*/
/*}*/

li{
    /*float: left;
    width: 50%;*//*helps to determine number of columns, for instance 33.3% displays 3 columns*/
    /*min-width: 300px;*/
    list-style:none
}
ul{
    list-style-type: disc;
    padding: 0;
}

.mat-paginator{
    float: right;
}

@media screen and (max-width: 770px) {
    li{
        width: 100%;
    }
}