<mat-toolbar class="nav-bar mat-elevation-z2">
    <button mat-button [routerLink]='[""]'> Inicio </button>

    <span class="spacer"></span>
    <div *ngIf="!isAdmin()">
        <ng-template #anonymousUser>
            <button mat-button (click)="login()">Login with Google</button>
        </ng-template>
        <ng-container *ngIf="appUser; else anonymousUser">
            <img mat-card-avatar class="user-avatar" src={{appUser.photoURL}}>
            <button mat-button [matMenuTriggerFor]="menu">
                {{appUser.name}}<mat-icon>arrow_drop_down</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)=logout()>Logout</button>
            </mat-menu>
        </ng-container>
    </div>

    <div *ngIf="isAdmin()">
        <button mat-button [routerLinkActive]='["link-active"]' [routerLink]='["/admin"]'>
            Admin
        </button>
        <button mat-button [routerLinkActive]='["link-active"]' [routerLink]='["/admin/evento"]'>
            Evento
        </button>
        <button mat-button [routerLinkActive]='["link-active"]' [routerLink]='["/admin/comentario"]'>
            Comentarios
        </button>
        <button mat-button [routerLinkActive]='["link-active"]' [routerLink]='["/admin/usuario"]'>
            Usuarios
        </button>
        <ng-container>
            <button mat-button [matMenuTriggerFor]="menu">
                {{getUserAdmin().username}}
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)=logoutAdmin()>Logout</button>
            </mat-menu>
        </ng-container>
    </div>

</mat-toolbar>