.nav-bar {
    background-color: #1565c0;
    color: #ffffff;
    position: fixed;
    top: 0;
    z-index: 99;
}
button:focus {
    outline: none;
    border: 0;
}
.example-spacer {
    flex: 1 1 auto;
  }
