<mat-tab-group mat-align-tabs="center">
    <mat-tab *ngFor="let categoria of categoriaMenu()" label={{categoria.nombre}}>
        <div *ngFor="let item of getMenuListXCategoria(categoria.id)" >
            <h1>{{item.nombre}} </h1>
            <p>{{item.descripcion}}</p>
            <button type="button" mat-raised-button color="primary" (click)="selectedMenu=item.menuId">Ver Comentarios</button>
            <app-comments *ngIf="selectedMenu==item.menuId" [menuId]="item.menuId"></app-comments>
        </div>
        
    </mat-tab>

    
    <!--<mat-tab label="First">Content 1</mat-tab>
    <mat-tab label="Second">Content 2</mat-tab>
    <mat-tab label="Third">Content 3</mat-tab>-->
  </mat-tab-group>
