  <!-- Section Content -->
  <section id="ourFood" class="g-pt-100">
    <div class="container text-uppercase g-mb-30">
      <h4 class="g-font-weight-700 g-font-size-12 g-color-primary g-mb-15">Our food</h4>
      <h2 class="g-line-height-1_2 g-font-weight-700 g-font-size-32 g-font-size-40--md g-bg-primary--before">Try this yummy</h2>
    </div>

    <div class="g-brd-top--md g-theme-brd-gray-light-v1">
      <div class="container">
        <ul class="nav text-uppercase u-nav-v2-1 u-nav-primary g-mt-minus-1" role="tablist"
            data-target="ourFoodTabs"
            data-tabs-mobile-type="slide-up-down"
            data-btn-classes="btn btn-md btn-block text-uppercase g-font-weight-700 u-btn-outline-primary">
          <li class="nav-item">
            <a class="nav-link g-py-15--md g-py-35--lg g-px-10--md g-px-30--lg active" href="#meat" role="tab"
               data-toggle="tab">Meat</a>
          </li>
          <li class="nav-item">
            <a class="nav-link g-py-15--md g-py-35--lg g-px-10--md g-px-30--lg" href="#fish" role="tab"
               data-toggle="tab">Fish</a>
          </li>
          <li class="nav-item">
            <a class="nav-link g-py-15--md g-py-35--lg g-px-10--md g-px-30--lg" href="#fastFood" role="tab"
               data-toggle="tab">Fast food</a>
          </li>
          <li class="nav-item">
            <a class="nav-link g-py-15--md g-py-35--lg g-px-10--md g-px-30--lg" href="#pizza" role="tab"
               data-toggle="tab">Pizza</a>
          </li>
          <li class="nav-item">
            <a class="nav-link g-py-15--md g-py-35--lg g-px-10--md g-px-30--lg" href="#vegeterianDishes" role="tab"
               data-toggle="tab">Vegeterian dishes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link g-py-15--md g-py-35--lg g-px-10--md g-px-30--lg" href="#desserts" role="tab"
               data-toggle="tab">Desserts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link g-py-15--md g-py-35--lg g-px-10--md g-px-30--lg" href="#drinks" role="tab"
               data-toggle="tab">Drinks</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="container-fluid px-0">
      <div id="ourFoodTabs" class="tab-content g-pt-20 g-pt-0--md">
        <div class="tab-pane fade show active" id="meat" role="tabpanel">
          <div class="row no-gutters g-overflow-x-hidden">
            <div class="col-lg-7">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <!-- Article -->
                  <article class="text-center">
                    <!-- Article Image -->
                    <img class="w-100" src="assets/img-temp/738x678/img1.jpg" alt="Image description">
                    <!-- End Article Image -->

                    <!-- Article Content -->
                    <div class="g-brd-around g-theme-brd-gray-light-v1 g-py-20 g-px-10 g-mt-minus-1">
                      <em class="d-block text-uppercase font-weight-bold g-color-primary g-font-style-normal g-font-size-11 g-mb-7">Steak</em>
                      <h4 class="text-uppercase font-weight-bold h6 g-color-black-dark-v1 g-mb-10">Steak + Potatoes</h4>
                      <p class="g-mb-10">Sed nec iaculis libero, vel ornare dui. Curabitur vitae nisl lorem.</p>
                      <strong class="g-color-primary g-font-size-16">$8.50</strong>
                    </div>
                    <!-- End Article Content -->
                  </article>
                  <!-- End Article -->
                </div>

                <div class="col-md-4 g-ml-minus-1">
                  <!-- Article -->
                  <article class="text-center">
                    <!-- Article Image -->
                    <img class="w-100" src="assets/img-temp/738x678/img2.jpg" alt="Image description">
                    <!-- End Article Image -->

                    <!-- Article Content -->
                    <div class="g-brd-around g-theme-brd-gray-light-v1 g-py-20 g-px-10 g-mt-minus-1">
                      <em class="d-block text-uppercase font-weight-bold g-color-primary g-font-style-normal g-font-size-11 g-mb-7">Steak</em>
                      <h4 class="text-uppercase font-weight-bold h6 g-color-black-dark-v1 g-mb-10">steak + carrot salad</h4>
                      <p class="g-mb-10">Sed nec iaculis libero, vel ornare dui. Curabitur vitae nisl lorem.</p>
                      <strong class="g-color-primary g-font-size-16">$10.20</strong>
                    </div>
                    <!-- End Article Content -->
                  </article>
                  <!-- End Article -->
                </div>

                <div class="col-md-4 g-ml-minus-1">
                  <!-- Article -->
                  <article class="text-center">
                    <!-- Article Image -->
                    <img class="w-100" src="assets/img-temp/738x678/img3.jpg" alt="Image description">
                    <!-- End Article Image -->

                    <!-- Article Content -->
                    <div class="g-brd-around g-theme-brd-gray-light-v1 g-py-20 g-px-10 g-mt-minus-1">
                      <em class="d-block text-uppercase font-weight-bold g-color-primary g-font-style-normal g-font-size-11 g-mb-7">Steak</em>
                      <h4 class="text-uppercase font-weight-bold h6 g-color-black-dark-v1 g-mb-10">Steak + mashroom sauce</h4>
                      <p class="g-mb-10">Sed nec iaculis libero, vel ornare dui. Curabitur vitae nisl lorem.</p>
                      <strong class="g-color-primary g-font-size-16">$11.00</strong>
                    </div>
                    <!-- End Article Content -->
                  </article>
                  <!-- End Article -->
                </div>
              </div>
            </div>

            <div class="col-lg-5">
              <!-- Carousel -->
              <div class="js-carousel u-carousel-v5 g-overflow-hidden h-100 g-min-height-300 g-mx-minus-2"
                   data-infinite="true"
                   data-arrows-classes="u-arrow-v1 g-pos-abs g-left-75 g-bottom-30 g-width-45 g-height-45 g-color-primary g-bg-white g-opacity-1 g-opacity-0_8--hover g-transition-0_2 g-transition--ease-in"
                   data-arrow-left-classes="fa fa-chevron-left g-ml-minus-45"
                   data-arrow-right-classes="fa fa-chevron-right g-ml-5">
                <div class="js-slide">
                  <!-- Article -->
                  <article class="u-bg-overlay g-bg-img-hero h-100 g-min-height-300 w-100 g-bg-black-opacity-0_3--after" style="background-image: url(assets/img-temp/1234x900/img1.jpg);">
                    <!-- Article Content -->
                    <div class="u-bg-overlay__inner g-pos-abs g-left-0 g-bottom-0 g-z-index-1 w-100 g-font-size-16 g-color-white-opacity-0_8 g-px-30 g-pb-100--sm g-pb-70">
                      <strong class="d-block g-font-size-20 g-color-primary g-mb-3">$9.50</strong>
                      <h3 class="text-uppercase g-font-weight-700 g-font-size-26 g-color-white g-mb-10">Steak with special sauce</h3>
                      <p class="g-font-size-16 g-color-white-opacity-0_8">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                    <!-- End Article Content -->
                  </article>
                  <!-- End Article -->
                </div>

                <div class="js-slide">
                  <!-- Article -->
                  <article class="u-bg-overlay g-bg-img-hero h-100 g-min-height-300 w-100 g-bg-black-opacity-0_3--after" style="background-image: url(assets/img-temp/1234x900/img2.jpg);">
                    <!-- Article Content -->
                    <div class="u-bg-overlay__inner g-pos-abs g-left-0 g-bottom-0 g-z-index-1 w-100 g-font-size-16 g-color-white-opacity-0_8 g-px-30 g-pb-100--sm g-pb-70">
                      <strong class="d-block g-font-size-20 g-color-primary g-mb-3">$10.30</strong>
                      <h3 class="text-uppercase g-font-weight-700 g-font-size-26 g-color-white g-mb-10">Steak with vegetables</h3>
                      <p class="g-font-size-16 g-color-white-opacity-0_8">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                    <!-- End Article Content -->
                  </article>
                  <!-- End Article -->
                </div>
              </div>
              <!-- End Carousel -->
            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="fish" role="tabpanel">
          <div class="row no-gutters g-overflow-x-hidden">
            <div class="col-lg-7">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <!-- Article -->
                  <article class="text-center">
                    <!-- Article Image -->
                    <img class="w-100" src="assets/img-temp/738x678/img1.jpg" alt="Image description">
                    <!-- End Article Image -->

                    <!-- Article Content -->
                    <div class="g-brd-around g-theme-brd-gray-light-v1 g-py-20 g-px-10 g-mt-minus-1">
                      <em class="d-block text-uppercase font-weight-bold g-color-primary g-font-style-normal g-font-size-11 g-mb-7">Steak</em>
                      <h4 class="text-uppercase font-weight-bold h6 g-color-black-dark-v1 g-mb-10">Steak + Potatoes</h4>
                      <p class="g-mb-10">Sed nec iaculis libero, vel ornare dui. Curabitur vitae nisl lorem.</p>
                      <strong class="g-color-primary g-font-size-16">$8.50</strong>
                    </div>
                    <!-- End Article Content -->
                  </article>
                  <!-- End Article -->
                </div>

                <div class="col-md-4 g-ml-minus-1">
                  <!-- Article -->
                  <article class="text-center">
                    <!-- Article Image -->
                    <img class="w-100" src="assets/img-temp/738x678/img2.jpg" alt="Image description">
                    <!-- End Article Image -->

                    <!-- Article Content -->
                    <div class="g-brd-around g-theme-brd-gray-light-v1 g-py-20 g-px-10 g-mt-minus-1">
                      <em class="d-block text-uppercase font-weight-bold g-color-primary g-font-style-normal g-font-size-11 g-mb-7">Steak</em>
                      <h4 class="text-uppercase font-weight-bold h6 g-color-black-dark-v1 g-mb-10">steak + carrot salad</h4>
                      <p class="g-mb-10">Sed nec iaculis libero, vel ornare dui. Curabitur vitae nisl lorem.</p>
                      <strong class="g-color-primary g-font-size-16">$10.20</strong>
                    </div>
                    <!-- End Article Content -->
                  </article>
                  <!-- End Article -->
                </div>

                <div class="col-md-4 g-ml-minus-1">
                  <!-- Article -->
                  <article class="text-center">
                    <!-- Article Image -->
                    <img class="w-100" src="assets/img-temp/738x678/img3.jpg" alt="Image description">
                    <!-- End Article Image -->

                    <!-- Article Content -->
                    <div class="g-brd-around g-theme-brd-gray-light-v1 g-py-20 g-px-10 g-mt-minus-1">
                      <em class="d-block text-uppercase font-weight-bold g-color-primary g-font-style-normal g-font-size-11 g-mb-7">Steak</em>
                      <h4 class="text-uppercase font-weight-bold h6 g-color-black-dark-v1 g-mb-10">Steak + mashroom sauce</h4>
                      <p class="g-mb-10">Sed nec iaculis libero, vel ornare dui. Curabitur vitae nisl lorem.</p>
                      <strong class="g-color-primary g-font-size-16">$11.00</strong>
                    </div>
                    <!-- End Article Content -->
                  </article>
                  <!-- End Article -->
                </div>
              </div>
            </div>

            <div class="col-lg-5">
              <!-- Carousel -->
              <div class="js-carousel u-carousel-v5 g-overflow-hidden h-100 g-min-height-300 g-mx-minus-2"
                   data-infinite="true"
                   data-arrows-classes="u-arrow-v1 g-pos-abs g-left-75 g-bottom-30 g-width-45 g-height-45 g-color-primary g-bg-white"
                   data-arrow-left-classes="fa fa-chevron-left g-ml-minus-45"
                   data-arrow-right-classes="fa fa-chevron-right g-ml-5">
                <div class="js-slide">
                  <!-- Article -->
                  <article class="u-bg-overlay g-bg-img-hero h-100 w-100 g-bg-black-opacity-0_3--after" style="background-image: url(assets/img-temp/1234x900/img1.jpg);">
                    <!-- Article Content -->
                    <div class="u-bg-overlay__inner g-pos-abs g-left-0 g-bottom-0 g-z-index-1 w-100 g-font-size-16 g-color-white-opacity-0_8 g-px-30 g-pb-100--sm g-pb-70">
                      <strong class="d-block g-font-size-20 g-color-primary g-mb-3">$9.50</strong>
                      <h3 class="text-uppercase g-font-weight-700 g-font-size-26 g-color-white g-mb-10">Steak with special sauce</h3>
                      <p class="g-font-size-16 g-color-white-opacity-0_8">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                    <!-- End Article Content -->
                  </article>
                  <!-- End Article -->
                </div>

                <div class="js-slide">
                  <!-- Article -->
                  <article class="u-bg-overlay g-bg-img-hero h-100 w-100 g-bg-black-opacity-0_3--after" style="background-image: url(assets/img-temp/1234x900/img2.jpg);">
                    <!-- Article Content -->
                    <div class="u-bg-overlay__inner g-pos-abs g-left-0 g-bottom-0 g-z-index-1 w-100 g-font-size-16 g-color-white-opacity-0_8 g-px-30 g-pb-100--sm g-pb-70">
                      <strong class="d-block g-font-size-20 g-color-primary g-mb-3">$10.30</strong>
                      <h3 class="text-uppercase g-font-weight-700 g-font-size-26 g-color-white g-mb-10">Steak with vegetables</h3>
                      <p class="g-font-size-16 g-color-white-opacity-0_8">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                    <!-- End Article Content -->
                  </article>
                  <!-- End Article -->
                </div>
              </div>
              <!-- End Carousel -->
            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="fastFood" role="tabpanel">
          <div class="row no-gutters g-overflow-x-hidden">
            <div class="col-lg-7">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <!-- Article -->
                  <article class="text-center">
                    <!-- Article Image -->
                    <img class="w-100" src="assets/img-temp/738x678/img1.jpg" alt="Image description">
                    <!-- End Article Image -->

                    <!-- Article Content -->
                    <div class="g-brd-around g-theme-brd-gray-light-v1 g-py-20 g-px-10 g-mt-minus-1">
                      <em class="d-block text-uppercase font-weight-bold g-color-primary g-font-style-normal g-font-size-11 g-mb-7">Steak</em>
                      <h4 class="text-uppercase font-weight-bold h6 g-color-black-dark-v1 g-mb-10">Steak + Potatoes</h4>
                      <p class="g-mb-10">Sed nec iaculis libero, vel ornare dui. Curabitur vitae nisl lorem.</p>
                      <strong class="g-color-primary g-font-size-16">$8.50</strong>
                    </div>
                    <!-- End Article Content -->
                  </article>
                  <!-- End Article -->
                </div>

                <div class="col-md-4 g-ml-minus-1">
                  <!-- Article -->
                  <article class="text-center">
                    <!-- Article Image -->
                    <img class="w-100" src="assets/img-temp/738x678/img2.jpg" alt="Image description">
                    <!-- End Article Image -->

                    <!-- Article Content -->
                    <div class="g-brd-around g-theme-brd-gray-light-v1 g-py-20 g-px-10 g-mt-minus-1">
                      <em class="d-block text-uppercase font-weight-bold g-color-primary g-font-style-normal g-font-size-11 g-mb-7">Steak</em>
                      <h4 class="text-uppercase font-weight-bold h6 g-color-black-dark-v1 g-mb-10">steak + carrot salad</h4>
                      <p class="g-mb-10">Sed nec iaculis libero, vel ornare dui. Curabitur vitae nisl lorem.</p>
                      <strong class="g-color-primary g-font-size-16">$10.20</strong>
                    </div>
                    <!-- End Article Content -->
                  </article>
                  <!-- End Article -->
                </div>

                <div class="col-md-4 g-ml-minus-1">
                  <!-- Article -->
                  <article class="text-center">
                    <!-- Article Image -->
                    <img class="w-100" src="assets/img-temp/738x678/img3.jpg" alt="Image description">
                    <!-- End Article Image -->

                    <!-- Article Content -->
                    <div class="g-brd-around g-theme-brd-gray-light-v1 g-py-20 g-px-10 g-mt-minus-1">
                      <em class="d-block text-uppercase font-weight-bold g-color-primary g-font-style-normal g-font-size-11 g-mb-7">Steak</em>
                      <h4 class="text-uppercase font-weight-bold h6 g-color-black-dark-v1 g-mb-10">Steak + mashroom sauce</h4>
                      <p class="g-mb-10">Sed nec iaculis libero, vel ornare dui. Curabitur vitae nisl lorem.</p>
                      <strong class="g-color-primary g-font-size-16">$11.00</strong>
                    </div>
                    <!-- End Article Content -->
                  </article>
                  <!-- End Article -->
                </div>
              </div>
            </div>

            <div class="col-lg-5">
              <!-- Carousel -->
              <div class="js-carousel u-carousel-v5 g-overflow-hidden h-100 g-min-height-300 g-mx-minus-2"
                   data-infinite="true"
                   data-arrows-classes="u-arrow-v1 g-pos-abs g-left-75 g-bottom-30 g-width-45 g-height-45 g-color-primary g-bg-white"
                   data-arrow-left-classes="fa fa-chevron-left g-ml-minus-45"
                   data-arrow-right-classes="fa fa-chevron-right g-ml-5">
                <div class="js-slide">
                  <!-- Article -->
                  <article class="u-bg-overlay g-bg-img-hero h-100 w-100 g-bg-black-opacity-0_3--after" style="background-image: url(assets/img-temp/1234x900/img1.jpg);">
                    <!-- Article Content -->
                    <div class="u-bg-overlay__inner g-pos-abs g-left-0 g-bottom-0 g-z-index-1 w-100 g-font-size-16 g-color-white-opacity-0_8 g-px-30 g-pb-100--sm g-pb-70">
                      <strong class="d-block g-font-size-20 g-color-primary g-mb-3">$9.50</strong>
                      <h3 class="text-uppercase g-font-weight-700 g-font-size-26 g-color-white g-mb-10">Steak with special sauce</h3>
                      <p class="g-font-size-16 g-color-white-opacity-0_8">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                    <!-- End Article Content -->
                  </article>
                  <!-- End Article -->
                </div>

                <div class="js-slide">
                  <!-- Article -->
                  <article class="u-bg-overlay g-bg-img-hero h-100 w-100 g-bg-black-opacity-0_3--after" style="background-image: url(assets/img-temp/1234x900/img2.jpg);">
                    <!-- Article Content -->
                    <div class="u-bg-overlay__inner g-pos-abs g-left-0 g-bottom-0 g-z-index-1 w-100 g-font-size-16 g-color-white-opacity-0_8 g-px-30 g-pb-100--sm g-pb-70">
                      <strong class="d-block g-font-size-20 g-color-primary g-mb-3">$10.30</strong>
                      <h3 class="text-uppercase g-font-weight-700 g-font-size-26 g-color-white g-mb-10">Steak with vegetables</h3>
                      <p class="g-font-size-16 g-color-white-opacity-0_8">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                    <!-- End Article Content -->
                  </article>
                  <!-- End Article -->
                </div>
              </div>
              <!-- End Carousel -->
            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="pizza" role="tabpanel">
          <div class="row no-gutters g-overflow-x-hidden">
            <div class="col-lg-7">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <!-- Article -->
                  <article class="text-center">
                    <!-- Article Image -->
                    <img class="w-100" src="assets/img-temp/738x678/img1.jpg" alt="Image description">
                    <!-- End Article Image -->

                    <!-- Article Content -->
                    <div class="g-brd-around g-theme-brd-gray-light-v1 g-py-20 g-px-10 g-mt-minus-1">
                      <em class="d-block text-uppercase font-weight-bold g-color-primary g-font-style-normal g-font-size-11 g-mb-7">Steak</em>
                      <h4 class="text-uppercase font-weight-bold h6 g-color-black-dark-v1 g-mb-10">Steak + Potatoes</h4>
                      <p class="g-mb-10">Sed nec iaculis libero, vel ornare dui. Curabitur vitae nisl lorem.</p>
                      <strong class="g-color-primary g-font-size-16">$8.50</strong>
                    </div>
                    <!-- End Article Content -->
                  </article>
                  <!-- End Article -->
                </div>

                <div class="col-md-4 g-ml-minus-1">
                  <!-- Article -->
                  <article class="text-center">
                    <!-- Article Image -->
                    <img class="w-100" src="assets/img-temp/738x678/img2.jpg" alt="Image description">
                    <!-- End Article Image -->

                    <!-- Article Content -->
                    <div class="g-brd-around g-theme-brd-gray-light-v1 g-py-20 g-px-10 g-mt-minus-1">
                      <em class="d-block text-uppercase font-weight-bold g-color-primary g-font-style-normal g-font-size-11 g-mb-7">Steak</em>
                      <h4 class="text-uppercase font-weight-bold h6 g-color-black-dark-v1 g-mb-10">steak + carrot salad</h4>
                      <p class="g-mb-10">Sed nec iaculis libero, vel ornare dui. Curabitur vitae nisl lorem.</p>
                      <strong class="g-color-primary g-font-size-16">$10.20</strong>
                    </div>
                    <!-- End Article Content -->
                  </article>
                  <!-- End Article -->
                </div>

                <div class="col-md-4 g-ml-minus-1">
                  <!-- Article -->
                  <article class="text-center">
                    <!-- Article Image -->
                    <img class="w-100" src="assets/img-temp/738x678/img3.jpg" alt="Image description">
                    <!-- End Article Image -->

                    <!-- Article Content -->
                    <div class="g-brd-around g-theme-brd-gray-light-v1 g-py-20 g-px-10 g-mt-minus-1">
                      <em class="d-block text-uppercase font-weight-bold g-color-primary g-font-style-normal g-font-size-11 g-mb-7">Steak</em>
                      <h4 class="text-uppercase font-weight-bold h6 g-color-black-dark-v1 g-mb-10">Steak + mashroom sauce</h4>
                      <p class="g-mb-10">Sed nec iaculis libero, vel ornare dui. Curabitur vitae nisl lorem.</p>
                      <strong class="g-color-primary g-font-size-16">$11.00</strong>
                    </div>
                    <!-- End Article Content -->
                  </article>
                  <!-- End Article -->
                </div>
              </div>
            </div>

            <div class="col-lg-5">
              <!-- Carousel -->
              <div class="js-carousel u-carousel-v5 g-overflow-hidden h-100 g-min-height-300 g-mx-minus-2"
                   data-infinite="true"
                   data-arrows-classes="u-arrow-v1 g-pos-abs g-left-75 g-bottom-30 g-width-45 g-height-45 g-color-primary g-bg-white"
                   data-arrow-left-classes="fa fa-chevron-left g-ml-minus-45"
                   data-arrow-right-classes="fa fa-chevron-right g-ml-5">
                <div class="js-slide">
                  <!-- Article -->
                  <article class="u-bg-overlay g-bg-img-hero h-100 w-100 g-bg-black-opacity-0_3--after" style="background-image: url(assets/img-temp/1234x900/img1.jpg);">
                    <!-- Article Content -->
                    <div class="u-bg-overlay__inner g-pos-abs g-left-0 g-bottom-0 g-z-index-1 w-100 g-font-size-16 g-color-white-opacity-0_8 g-px-30 g-pb-100--sm g-pb-70">
                      <strong class="d-block g-font-size-20 g-color-primary g-mb-3">$9.50</strong>
                      <h3 class="text-uppercase g-font-weight-700 g-font-size-26 g-color-white g-mb-10">Steak with special sauce</h3>
                      <p class="g-font-size-16 g-color-white-opacity-0_8">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                    <!-- End Article Content -->
                  </article>
                  <!-- End Article -->
                </div>

                <div class="js-slide">
                  <!-- Article -->
                  <article class="u-bg-overlay g-bg-img-hero h-100 w-100 g-bg-black-opacity-0_3--after" style="background-image: url(assets/img-temp/1234x900/img2.jpg);">
                    <!-- Article Content -->
                    <div class="u-bg-overlay__inner g-pos-abs g-left-0 g-bottom-0 g-z-index-1 w-100 g-font-size-16 g-color-white-opacity-0_8 g-px-30 g-pb-100--sm g-pb-70">
                      <strong class="d-block g-font-size-20 g-color-primary g-mb-3">$10.30</strong>
                      <h3 class="text-uppercase g-font-weight-700 g-font-size-26 g-color-white g-mb-10">Steak with vegetables</h3>
                      <p class="g-font-size-16 g-color-white-opacity-0_8">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                    <!-- End Article Content -->
                  </article>
                  <!-- End Article -->
                </div>
              </div>
              <!-- End Carousel -->
            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="vegeterianDishes" role="tabpanel">
          <div class="row no-gutters g-overflow-x-hidden">
            <div class="col-lg-7">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <!-- Article -->
                  <article class="text-center">
                    <!-- Article Image -->
                    <img class="w-100" src="assets/img-temp/738x678/img1.jpg" alt="Image description">
                    <!-- End Article Image -->

                    <!-- Article Content -->
                    <div class="g-brd-around g-theme-brd-gray-light-v1 g-py-20 g-px-10 g-mt-minus-1">
                      <em class="d-block text-uppercase font-weight-bold g-color-primary g-font-style-normal g-font-size-11 g-mb-7">Steak</em>
                      <h4 class="text-uppercase font-weight-bold h6 g-color-black-dark-v1 g-mb-10">Steak + Potatoes</h4>
                      <p class="g-mb-10">Sed nec iaculis libero, vel ornare dui. Curabitur vitae nisl lorem.</p>
                      <strong class="g-color-primary g-font-size-16">$8.50</strong>
                    </div>
                    <!-- End Article Content -->
                  </article>
                  <!-- End Article -->
                </div>

                <div class="col-md-4 g-ml-minus-1">
                  <!-- Article -->
                  <article class="text-center">
                    <!-- Article Image -->
                    <img class="w-100" src="assets/img-temp/738x678/img2.jpg" alt="Image description">
                    <!-- End Article Image -->

                    <!-- Article Content -->
                    <div class="g-brd-around g-theme-brd-gray-light-v1 g-py-20 g-px-10 g-mt-minus-1">
                      <em class="d-block text-uppercase font-weight-bold g-color-primary g-font-style-normal g-font-size-11 g-mb-7">Steak</em>
                      <h4 class="text-uppercase font-weight-bold h6 g-color-black-dark-v1 g-mb-10">steak + carrot salad</h4>
                      <p class="g-mb-10">Sed nec iaculis libero, vel ornare dui. Curabitur vitae nisl lorem.</p>
                      <strong class="g-color-primary g-font-size-16">$10.20</strong>
                    </div>
                    <!-- End Article Content -->
                  </article>
                  <!-- End Article -->
                </div>

                <div class="col-md-4 g-ml-minus-1">
                  <!-- Article -->
                  <article class="text-center">
                    <!-- Article Image -->
                    <img class="w-100" src="assets/img-temp/738x678/img3.jpg" alt="Image description">
                    <!-- End Article Image -->

                    <!-- Article Content -->
                    <div class="g-brd-around g-theme-brd-gray-light-v1 g-py-20 g-px-10 g-mt-minus-1">
                      <em class="d-block text-uppercase font-weight-bold g-color-primary g-font-style-normal g-font-size-11 g-mb-7">Steak</em>
                      <h4 class="text-uppercase font-weight-bold h6 g-color-black-dark-v1 g-mb-10">Steak + mashroom sauce</h4>
                      <p class="g-mb-10">Sed nec iaculis libero, vel ornare dui. Curabitur vitae nisl lorem.</p>
                      <strong class="g-color-primary g-font-size-16">$11.00</strong>
                    </div>
                    <!-- End Article Content -->
                  </article>
                  <!-- End Article -->
                </div>
              </div>
            </div>

            <div class="col-lg-5">
              <!-- Carousel -->
              <div class="js-carousel u-carousel-v5 g-overflow-hidden h-100 g-min-height-300 g-mx-minus-2"
                   data-infinite="true"
                   data-arrows-classes="u-arrow-v1 g-pos-abs g-left-75 g-bottom-30 g-width-45 g-height-45 g-color-primary g-bg-white"
                   data-arrow-left-classes="fa fa-chevron-left g-ml-minus-45"
                   data-arrow-right-classes="fa fa-chevron-right g-ml-5">
                <div class="js-slide">
                  <!-- Article -->
                  <article class="u-bg-overlay g-bg-img-hero h-100 w-100 g-bg-black-opacity-0_3--after" style="background-image: url(assets/img-temp/1234x900/img1.jpg);">
                    <!-- Article Content -->
                    <div class="u-bg-overlay__inner g-pos-abs g-left-0 g-bottom-0 g-z-index-1 w-100 g-font-size-16 g-color-white-opacity-0_8 g-px-30 g-pb-100--sm g-pb-70">
                      <strong class="d-block g-font-size-20 g-color-primary g-mb-3">$9.50</strong>
                      <h3 class="text-uppercase g-font-weight-700 g-font-size-26 g-color-white g-mb-10">Steak with special sauce</h3>
                      <p class="g-font-size-16 g-color-white-opacity-0_8">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                    <!-- End Article Content -->
                  </article>
                  <!-- End Article -->
                </div>

                <div class="js-slide">
                  <!-- Article -->
                  <article class="u-bg-overlay g-bg-img-hero h-100 w-100 g-bg-black-opacity-0_3--after" style="background-image: url(assets/img-temp/1234x900/img2.jpg);">
                    <!-- Article Content -->
                    <div class="u-bg-overlay__inner g-pos-abs g-left-0 g-bottom-0 g-z-index-1 w-100 g-font-size-16 g-color-white-opacity-0_8 g-px-30 g-pb-100--sm g-pb-70">
                      <strong class="d-block g-font-size-20 g-color-primary g-mb-3">$10.30</strong>
                      <h3 class="text-uppercase g-font-weight-700 g-font-size-26 g-color-white g-mb-10">Steak with vegetables</h3>
                      <p class="g-font-size-16 g-color-white-opacity-0_8">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                    <!-- End Article Content -->
                  </article>
                  <!-- End Article -->
                </div>
              </div>
              <!-- End Carousel -->
            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="desserts" role="tabpanel">
          <div class="row no-gutters g-overflow-x-hidden">
            <div class="col-lg-7">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <!-- Article -->
                  <article class="text-center">
                    <!-- Article Image -->
                    <img class="w-100" src="assets/img-temp/738x678/img1.jpg" alt="Image description">
                    <!-- End Article Image -->

                    <!-- Article Content -->
                    <div class="g-brd-around g-theme-brd-gray-light-v1 g-py-20 g-px-10 g-mt-minus-1">
                      <em class="d-block text-uppercase font-weight-bold g-color-primary g-font-style-normal g-font-size-11 g-mb-7">Steak</em>
                      <h4 class="text-uppercase font-weight-bold h6 g-color-black-dark-v1 g-mb-10">Steak + Potatoes</h4>
                      <p class="g-mb-10">Sed nec iaculis libero, vel ornare dui. Curabitur vitae nisl lorem.</p>
                      <strong class="g-color-primary g-font-size-16">$8.50</strong>
                    </div>
                    <!-- End Article Content -->
                  </article>
                  <!-- End Article -->
                </div>

                <div class="col-md-4 g-ml-minus-1">
                  <!-- Article -->
                  <article class="text-center">
                    <!-- Article Image -->
                    <img class="w-100" src="assets/img-temp/738x678/img2.jpg" alt="Image description">
                    <!-- End Article Image -->

                    <!-- Article Content -->
                    <div class="g-brd-around g-theme-brd-gray-light-v1 g-py-20 g-px-10 g-mt-minus-1">
                      <em class="d-block text-uppercase font-weight-bold g-color-primary g-font-style-normal g-font-size-11 g-mb-7">Steak</em>
                      <h4 class="text-uppercase font-weight-bold h6 g-color-black-dark-v1 g-mb-10">steak + carrot salad</h4>
                      <p class="g-mb-10">Sed nec iaculis libero, vel ornare dui. Curabitur vitae nisl lorem.</p>
                      <strong class="g-color-primary g-font-size-16">$10.20</strong>
                    </div>
                    <!-- End Article Content -->
                  </article>
                  <!-- End Article -->
                </div>

                <div class="col-md-4 g-ml-minus-1">
                  <!-- Article -->
                  <article class="text-center">
                    <!-- Article Image -->
                    <img class="w-100" src="assets/img-temp/738x678/img3.jpg" alt="Image description">
                    <!-- End Article Image -->

                    <!-- Article Content -->
                    <div class="g-brd-around g-theme-brd-gray-light-v1 g-py-20 g-px-10 g-mt-minus-1">
                      <em class="d-block text-uppercase font-weight-bold g-color-primary g-font-style-normal g-font-size-11 g-mb-7">Steak</em>
                      <h4 class="text-uppercase font-weight-bold h6 g-color-black-dark-v1 g-mb-10">Steak + mashroom sauce</h4>
                      <p class="g-mb-10">Sed nec iaculis libero, vel ornare dui. Curabitur vitae nisl lorem.</p>
                      <strong class="g-color-primary g-font-size-16">$11.00</strong>
                    </div>
                    <!-- End Article Content -->
                  </article>
                  <!-- End Article -->
                </div>
              </div>
            </div>

            <div class="col-lg-5">
              <!-- Carousel -->
              <div class="js-carousel u-carousel-v5 g-overflow-hidden h-100 g-min-height-300 g-mx-minus-2"
                   data-infinite="true"
                   data-arrows-classes="u-arrow-v1 g-pos-abs g-left-75 g-bottom-30 g-width-45 g-height-45 g-color-primary g-bg-white"
                   data-arrow-left-classes="fa fa-chevron-left g-ml-minus-45"
                   data-arrow-right-classes="fa fa-chevron-right g-ml-5">
                <div class="js-slide">
                  <!-- Article -->
                  <article class="u-bg-overlay g-bg-img-hero h-100 w-100 g-bg-black-opacity-0_3--after" style="background-image: url(assets/img-temp/1234x900/img1.jpg);">
                    <!-- Article Content -->
                    <div class="u-bg-overlay__inner g-pos-abs g-left-0 g-bottom-0 g-z-index-1 w-100 g-font-size-16 g-color-white-opacity-0_8 g-px-30 g-pb-100--sm g-pb-70">
                      <strong class="d-block g-font-size-20 g-color-primary g-mb-3">$9.50</strong>
                      <h3 class="text-uppercase g-font-weight-700 g-font-size-26 g-color-white g-mb-10">Steak with special sauce</h3>
                      <p class="g-font-size-16 g-color-white-opacity-0_8">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                    <!-- End Article Content -->
                  </article>
                  <!-- End Article -->
                </div>

                <div class="js-slide">
                  <!-- Article -->
                  <article class="u-bg-overlay g-bg-img-hero h-100 w-100 g-bg-black-opacity-0_3--after" style="background-image: url(assets/img-temp/1234x900/img2.jpg);">
                    <!-- Article Content -->
                    <div class="u-bg-overlay__inner g-pos-abs g-left-0 g-bottom-0 g-z-index-1 w-100 g-font-size-16 g-color-white-opacity-0_8 g-px-30 g-pb-100--sm g-pb-70">
                      <strong class="d-block g-font-size-20 g-color-primary g-mb-3">$10.30</strong>
                      <h3 class="text-uppercase g-font-weight-700 g-font-size-26 g-color-white g-mb-10">Steak with vegetables</h3>
                      <p class="g-font-size-16 g-color-white-opacity-0_8">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                    <!-- End Article Content -->
                  </article>
                  <!-- End Article -->
                </div>
              </div>
              <!-- End Carousel -->
            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="drinks" role="tabpanel">
          <div class="row no-gutters g-overflow-x-hidden">
            <div class="col-lg-7">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <!-- Article -->
                  <article class="text-center">
                    <!-- Article Image -->
                    <img class="w-100" src="assets/img-temp/738x678/img1.jpg" alt="Image description">
                    <!-- End Article Image -->

                    <!-- Article Content -->
                    <div class="g-brd-around g-theme-brd-gray-light-v1 g-py-20 g-px-10 g-mt-minus-1">
                      <em class="d-block text-uppercase font-weight-bold g-color-primary g-font-style-normal g-font-size-11 g-mb-7">Steak</em>
                      <h4 class="text-uppercase font-weight-bold h6 g-color-black-dark-v1 g-mb-10">Steak + Potatoes</h4>
                      <p class="g-mb-10">Sed nec iaculis libero, vel ornare dui. Curabitur vitae nisl lorem.</p>
                      <strong class="g-color-primary g-font-size-16">$8.50</strong>
                    </div>
                    <!-- End Article Content -->
                  </article>
                  <!-- End Article -->
                </div>

                <div class="col-md-4 g-ml-minus-1">
                  <!-- Article -->
                  <article class="text-center">
                    <!-- Article Image -->
                    <img class="w-100" src="assets/img-temp/738x678/img2.jpg" alt="Image description">
                    <!-- End Article Image -->

                    <!-- Article Content -->
                    <div class="g-brd-around g-theme-brd-gray-light-v1 g-py-20 g-px-10 g-mt-minus-1">
                      <em class="d-block text-uppercase font-weight-bold g-color-primary g-font-style-normal g-font-size-11 g-mb-7">Steak</em>
                      <h4 class="text-uppercase font-weight-bold h6 g-color-black-dark-v1 g-mb-10">steak + carrot salad</h4>
                      <p class="g-mb-10">Sed nec iaculis libero, vel ornare dui. Curabitur vitae nisl lorem.</p>
                      <strong class="g-color-primary g-font-size-16">$10.20</strong>
                    </div>
                    <!-- End Article Content -->
                  </article>
                  <!-- End Article -->
                </div>

                <div class="col-md-4 g-ml-minus-1">
                  <!-- Article -->
                  <article class="text-center">
                    <!-- Article Image -->
                    <img class="w-100" src="assets/img-temp/738x678/img3.jpg" alt="Image description">
                    <!-- End Article Image -->

                    <!-- Article Content -->
                    <div class="g-brd-around g-theme-brd-gray-light-v1 g-py-20 g-px-10 g-mt-minus-1">
                      <em class="d-block text-uppercase font-weight-bold g-color-primary g-font-style-normal g-font-size-11 g-mb-7">Steak</em>
                      <h4 class="text-uppercase font-weight-bold h6 g-color-black-dark-v1 g-mb-10">Steak + mashroom sauce</h4>
                      <p class="g-mb-10">Sed nec iaculis libero, vel ornare dui. Curabitur vitae nisl lorem.</p>
                      <strong class="g-color-primary g-font-size-16">$11.00</strong>
                    </div>
                    <!-- End Article Content -->
                  </article>
                  <!-- End Article -->
                </div>
              </div>
            </div>

            <div class="col-lg-5">
              <!-- Carousel -->
              <div class="js-carousel u-carousel-v5 g-overflow-hidden h-100 g-min-height-300 g-mx-minus-2"
                   data-infinite="true"
                   data-arrows-classes="u-arrow-v1 g-pos-abs g-left-75 g-bottom-30 g-width-45 g-height-45 g-color-primary g-bg-white"
                   data-arrow-left-classes="fa fa-chevron-left g-ml-minus-45"
                   data-arrow-right-classes="fa fa-chevron-right g-ml-5">
                <div class="js-slide">
                  <!-- Article -->
                  <article class="u-bg-overlay g-bg-img-hero h-100 w-100 g-bg-black-opacity-0_3--after" style="background-image: url(assets/img-temp/1234x900/img1.jpg);">
                    <!-- Article Content -->
                    <div class="u-bg-overlay__inner g-pos-abs g-left-0 g-bottom-0 g-z-index-1 w-100 g-font-size-16 g-color-white-opacity-0_8 g-px-30 g-pb-100--sm g-pb-70">
                      <strong class="d-block g-font-size-20 g-color-primary g-mb-3">$9.50</strong>
                      <h3 class="text-uppercase g-font-weight-700 g-font-size-26 g-color-white g-mb-10">Steak with special sauce</h3>
                      <p class="g-font-size-16 g-color-white-opacity-0_8">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                    <!-- End Article Content -->
                  </article>
                  <!-- End Article -->
                </div>

                <div class="js-slide">
                  <!-- Article -->
                  <article class="u-bg-overlay g-bg-img-hero h-100 w-100 g-bg-black-opacity-0_3--after" style="background-image: url(assets/img-temp/1234x900/img2.jpg);">
                    <!-- Article Content -->
                    <div class="u-bg-overlay__inner g-pos-abs g-left-0 g-bottom-0 g-z-index-1 w-100 g-font-size-16 g-color-white-opacity-0_8 g-px-30 g-pb-100--sm g-pb-70">
                      <strong class="d-block g-font-size-20 g-color-primary g-mb-3">$10.30</strong>
                      <h3 class="text-uppercase g-font-weight-700 g-font-size-26 g-color-white g-mb-10">Steak with vegetables</h3>
                      <p class="g-font-size-16 g-color-white-opacity-0_8">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                    <!-- End Article Content -->
                  </article>
                  <!-- End Article -->
                </div>
              </div>
              <!-- End Carousel -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Section Content -->