<mat-card class="bg-primary text-white p-2 mb-2" [class.bg-warning]="editing">
    {{editing ? "Modificar" : "Crear"}} Menu
</mat-card>
<form novalidate #form="ngForm" (ngSubmit)="submitForm(form)" (reset)="resetForm()" class="">
    <div class="row">
        <mat-form-field class="col-8">
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="Nombre del menu" name="nombre" [(ngModel)]="menu.nombre" #nombre="ngModel"
                required>
            <mat-hint>Nombre del menu!</mat-hint>
            <mat-error *ngFor="let error of getValidationMessages(nombre)">
                <span [innerHTML]="error"></span>
            </mat-error>
        </mat-form-field>
            <section class="example-section col-4">
                <mat-checkbox class="example-margin" name="destacado" [(ngModel)]="menu.destacado">Destacado
                </mat-checkbox>
            </section>
            <!-- <mat-hint>El menu aparecerá en las recomendaciones del chef</mat-hint> -->
        
    </div>
    <div class="row">
        <mat-form-field class="col-7 ">
            <mat-label>Categoria</mat-label>
            <mat-select name="categoria" [(ngModel)]="menu.categoria" #categoria="ngModel" required
                panelClass="example-panel-blu">
                <mat-option>--</mat-option>
                <mat-option *ngFor="let categoria of categoriaMenu()" [value]="categoria.id">
                    {{categoria.nombre}}
                </mat-option>
            </mat-select>
            <mat-error *ngFor="let error of getValidationMessages(categoria)">
                <span [innerHTML]="error"></span>
            </mat-error>
            <mat-hint>Tipo de menu</mat-hint>
        </mat-form-field>

        <mat-form-field class="col-5 ">
            <mat-label>Precio</mat-label>
            <input matInput placeholder="$" type="number" name="precio" [(ngModel)]="menu.precio" #precio="ngModel"
                pattern="^[0-9\.]+$" required>
            <span matPrefix>$&nbsp;</span>
            <mat-hint>Valor del menu!</mat-hint>
            <mat-error *ngFor="let error of getValidationMessages(precio)">
                <span [innerHTML]="error"></span>
            </mat-error>
        </mat-form-field>
    </div>
    <mat-form-field class="form-control">
        <mat-label>Descripción</mat-label>
        <textarea matInput placeholder="Ej. Este plato contiene..." name="descripcion" [(ngModel)]="menu.descripcion"
            #descripcion="ngModel" required></textarea>
        <mat-hint>Breve descripcion del contenido del menu</mat-hint>
        <mat-error *ngFor="let error of getValidationMessages(descripcion)">
            <span [innerHTML]="error"></span>
        </mat-error>
    </mat-form-field>

    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>{{ menu.datosImg.name }}</mat-card-title>
            <mat-card-subtitle>Foto</mat-card-subtitle>
        </mat-card-header>
        <div *ngIf="!hayImagen() " style="width: auto;height: 100px;text-align: center;border: dotted 0.1px;padding-top: 40px;" > No imagen </div>
         <img *ngIf="hayImagen()" mat-card-image src="{{menu.datosImg.url}}" alt="    Photo del menú" >
        
         <mat-card-actions>
            <mat-form-field class="form-control">
                <div>
                    <mat-toolbar>
                        <!-- Display files names -->
                        <input matInput [(ngModel)]="fileAttr" readonly name="name" />
                        <!-- Browse Button -->
                        <button mat-flat-button color="primary" type="button">
                            Buscar 
                        </button>
                    </mat-toolbar>
                    <!-- Fetch selected filed on change multiple="multiple" -->
                    <input type="file" #fileInput id="uploadFile" (change)="onFileSelected($event)" name="uploadFile"
                        accept="image/*" />
                </div>
                <mat-progress-bar *ngIf="selectedFile" class="" [color]="warn" [mode]="determinate"
                    [value]="porcentage">
                </mat-progress-bar>
            </mat-form-field>

        </mat-card-actions>
    </mat-card>

    <button type="submit" class="btn btn-primary m-1" [class.btn-warning]="editing" [disabled]="form.invalid">
        {{editing ? "Save" : "Create"}}
    </button>
    <button type="reset" class="btn btn-secondary m-1">Cancel</button>
</form>