<div id="contact">
    <!-- Google (Map) [custom] -->
    <section class="text-center g-pos-rel g-height-600">
        <div id="gMap3" class="js-g-map g-pos-abs w-100 h-100" data-lat="22.625106" data-lng="-83.691369"></div>

        <div class="g-absolute-centered g-width-600">
            <div class="container">
                <div class="row mx-0">
                    <div class="col-sm-6 g-bg-img-hero g-min-height-250 px-0"
                        style="background-image: url(assets/img-temp/900x1164/img1.jpg);"></div>

                    <div class="col-sm-6 d-flex g-color-white g-bg-primary g-pa-20">
                        <div class="align-self-center w-100">
                            <address>
                                <div class="g-mb-20">
                                    <h3 class="text-uppercase g-font-size-11 g-color-white-opacity-0_7 g-mb-5">Address
                                    </h3>
                                    <strong>Street to "El cementario", 1 km from Cupet</strong>
                                </div>

                                <div class="g-mb-20">
                                    <h3 class="text-uppercase g-font-size-11 g-color-white-opacity-0_7 g-mb-5">Phone
                                        number</h3>
                                    <strong>+53 58188581</strong>
                                </div>

                                <div class="g-mb-20">
                                    <h3 class="text-uppercase g-font-size-11 g-color-white-opacity-0_7 g-mb-5">Email
                                    </h3>
                                    <a class="g-color-white"
                                        href="mailto:info@unify.com"><strong>info@unify.com</strong></a>
                                </div>

                                <div>
                                    <h3 class="text-uppercase g-font-size-11 g-color-white-opacity-0_7 g-mb-5">Restaurant phone
                                    </h3>
                                    <strong>48 684780</strong>
                                </div>
                            </address>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Google (Map) [custom] -->
</div>

