<div id="contact">
    <!-- Google (Map) [custom] key-- AIzaSyBX8-T-n6nDem9vevUQeACSFvJlmDEsP9c   -->
    <section class="text-center g-pos-rel g-height-600">
        <!--  -->
        <div id="gMap3" class="js-g-map g-pos-abs w-100 h-100" data-lat="22.6249989" data-lng="-83.6914659"
            data-pin="true" data-zoom="15" data-title="RESTAURANTE FINCA AGROECOLOGICA EL PARAISO"></div>

        <!-- <div id="GMapMultipleMarkers" class="js-g-map g-pos-abs w-100 h-100" data-type="terrain" data-lat="-33.92" data-lng="151.25" data-zoom="12" data-multiple-markers="true" data-title="RESTAURANTE FINCA AGROECOLOGICA EL PARAISO" [attr.data-markers-locations]=" 
      
         ['Bondi Beach', -33.890542, 151.274856, 4]
       "></div> style="display: none;" *ngFor="let item of markers1 " -->

        <!-- <img class="js-pin-map img-fluid" src="../../assets/img/maps/map.png" easypin-id="map-pin">

        <div  easypin-tpl=""  >
            <popover [innerHTML]="html">
                
            </popover>

            <marker>
                <div class="point"></div>
            </marker>
        </div>-->

        <div class="g-absolute-centered g-width-600">
            <div class="container">
                <div class="pos-f-t">
                    <div class="collapse show" id="navbarToggleExternalContent">
                        <div class="row mx-0">
                            <div class="col-sm-6 g-bg-img-hero g-min-height-250 px-0"
                                style="background-image: url(assets/img-temp/900x1164/img1.jpg);"></div>

                            <div class="col-sm-6 d-flex g-color-white g-bg-primary g-pa-20">
                                <div class="align-self-center w-100">
                                    <address>
                                        <div class="g-mb-20">
                                            <h3 class="text-uppercase g-font-size-11 g-color-white-opacity-0_7 g-mb-5">
                                                Address
                                            </h3>
                                            <strong>Street to "El cementario", 1 km from Cupet</strong>
                                        </div>

                                        <div class="g-mb-20">
                                            <h3 class="text-uppercase g-font-size-11 g-color-white-opacity-0_7 g-mb-5">
                                                Phone
                                                number</h3>
                                            <strong>+53 58188581</strong>
                                        </div>

                                        <div class="g-mb-20">
                                            <h3 class="text-uppercase g-font-size-11 g-color-white-opacity-0_7 g-mb-5">
                                                Email
                                            </h3>
                                            <a class="g-color-white"
                                                href="mailto:info@unify.com"><strong>info@unify.com</strong></a>
                                        </div>

                                        <div>
                                            <h3 class="text-uppercase g-font-size-11 g-color-white-opacity-0_7 g-mb-5">
                                                Restaurant phone
                                            </h3>
                                            <strong>48 684780</strong>
                                        </div>
                                    </address>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="btn u-btn-outline-primary g-mr-10 g-mb-15 g-pos-abs g-top-4 g-left-25"
                        data-toggle="collapse" data-target="#navbarToggleExternalContent"
                        aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation"
                        data-toggle="collapse" data-target="#navbarToggleExternalContent"
                        aria-controls="navbarToggleExternalContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <i class="fa fa-list"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- End Google (Map) [custom] -->
</div>