<div id="contact">
    <!-- Section Content -->
    <section class="text-center g-color-white g-bg-primary g-py-80">
        <div class="container g-max-width-780">
            <div class="text-center text-uppercase u-heading-v7-3 g-mb-30">
                <h3 class="g-font-weight-700 g-font-size-12 g-color-white-opacity-0_7 g-mb-20">Booking from</h3>
                <h2
                    class="u-heading-v7__title g-font-weight-700 g-font-size-32 g-font-size-40--md g-color-white g-mb-30">
                    Reservation with open table</h2>

                <div class="u-heading-v7-divider g-brd-gray-light-v4">
                    <i class="fa fa-circle"></i>
                </div>
            </div>

            <p class="g-color-white-opacity-0_7 g-mb-75">Etiam ultrices lacus ut ligula vestibulum, sit amet mattis nunc
                elementum. Nam arcu enim, euismod nec purus non, aliquam congue ante. Nulla faucibus enim mauris,
                fringilla mollis ligula sollicitudin mollis.</p>
        </div>

        <div class="container">
            <form>
                <div class="row g-mb-40">
                    <div class="col-md-4">
                        <div class="form-group g-pos-rel">
                            <input
                                class="form-control h-100 u-theme-shadow-v1 g-font-size-default g-color-white g-placeholder-inherit g-theme-bg-primary-dark-v1 g-brd-none rounded-0 g-px-25 g-py-13"
                                type="text" placeholder="Reservation date">

                            <div class="g-pos-abs g-top-0 g-right-0 g-flex-centered g-width-40 h-100 g-color-white">
                                <i class="fa fa-calendar"></i>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group g-pos-rel">
                            <input
                                class="form-control h-100 u-theme-shadow-v1 g-font-size-default g-color-white g-placeholder-inherit g-theme-bg-primary-dark-v1 g-brd-none rounded-0 g-px-25 g-py-13"
                                type="text" placeholder="Reservation time">

                            <div class="g-pos-abs g-top-0 g-right-0 g-flex-centered g-width-40 h-100 g-color-white">
                                <i class="fa fa-clock-o"></i>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group g-pos-rel">
                            <input
                                class="form-control h-100 u-theme-shadow-v1 g-font-size-default g-color-white g-placeholder-inherit g-theme-bg-primary-dark-v1 g-brd-none rounded-0 g-px-25 g-py-13"
                                type="text" placeholder="Persons">

                            <div class="g-pos-abs g-top-0 g-right-0 g-flex-centered g-width-40 h-100 g-color-white">
                                <i class="fa fa-users"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <button
                    class="btn text-uppercase u-btn-white g-font-weight-700 g-font-size-11 g-theme-color-gray-dark-v2 g-brd-none rounded-0 g-px-30 g-py-25"
                    type="submit" role="button">Book now</button>
            </form>
        </div>
    </section>
    <!-- End Section Content -->

    <!-- Google (Map) [custom] -->
    <section class="text-center g-pos-rel g-height-600">
        <div id="gMap3" class="js-g-map g-pos-abs w-100 h-100" data-lat="-34.397" data-lng="150.644"></div>

        <div class="g-absolute-centered g-width-600">
            <div class="container">
                <div class="row mx-0">
                    <div class="col-sm-6 g-bg-img-hero g-min-height-250 px-0"
                        style="background-image: url(assets/img-temp/900x1164/img1.jpg);"></div>

                    <div class="col-sm-6 d-flex g-color-white g-bg-primary g-pa-20">
                        <div class="align-self-center w-100">
                            <address>
                                <div class="g-mb-20">
                                    <h3 class="text-uppercase g-font-size-11 g-color-white-opacity-0_7 g-mb-5">Address
                                    </h3>
                                    <strong>In sed lectus tincidunt</strong>
                                </div>

                                <div class="g-mb-20">
                                    <h3 class="text-uppercase g-font-size-11 g-color-white-opacity-0_7 g-mb-5">Phone
                                        number</h3>
                                    <strong>+4586 585 4580</strong>
                                </div>

                                <div class="g-mb-20">
                                    <h3 class="text-uppercase g-font-size-11 g-color-white-opacity-0_7 g-mb-5">Email
                                    </h3>
                                    <a class="g-color-white"
                                        href="mailto:info@unify.com"><strong>info@unify.com</strong></a>
                                </div>

                                <div>
                                    <h3 class="text-uppercase g-font-size-11 g-color-white-opacity-0_7 g-mb-5">Toll Free
                                    </h3>
                                    <strong>+4516 581 2340</strong>
                                </div>
                            </address>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Google (Map) [custom] -->
</div>

