<div class="text-center g-pos-rel g-z-index-1">
        <button (click)="cambiarPagina(pagina-1,$event)" [disabled]="pagina-1<1" [class]="getClasses(pagina-1)"
            class="btn g-color-white--hover g-bg-white g-bg-primary--hover g-transition-0_2 g-transition--ease-in fa fa-chevron-left  slick-arrow g-mr-10 g-mb-15 rounded-0 u-arrow-v1 g-width-60 g-height-60">
        </button>
        <button (click)="cambiarPagina(pagina+1,$event)" [disabled]="pagina+1>cantidadPagina()"
            [class]="getClasses(pagina+1)"
            class="btn g-color-white--hover g-bg-white g-bg-primary--hover g-transition-0_2 g-transition--ease-in fa fa-chevron-right  slick-arrow g-mr-10 g-mb-15 rounded-0 u-arrow-v1 g-width-60 g-height-60">
        </button>
    </div>
    <span *ngIf="loading==true" class="g-pos-abs g-left-50x" style="top:200px; margin-left: -25px;">
        <mat-spinner diameter=50></mat-spinner>
    </span>

<!--   <section class="js-carousel js-carousel3 g-pb-90 g-mx-minus-15" data-slides-show="3" data-slides-scroll="3"
        data-arrows-classes="u-arrow-v1 g-pos-abs g-bottom-0 g-width-45 g-height-45 g-color-gray-dark-v5 g-color-white--hover g-theme-bg-gray-light-v2 g-bg-primary--hover g-transition-0_2 g-transition--ease-in"
        data-arrow-left-classes="fa fa-chevron-left g-left-15 g-left-35x--md"
        data-arrow-right-classes="fa fa-chevron-right g-right-15 g-right-35x--md"
        data-pagi-classes="u-carousel-indicators-v1 g-absolute-centered--x g-bottom-20 text-center" data-responsive='[{
"breakpoint": 1200,
"settings": {
 "slidesToShow": 3,
 "slidesToScroll": 3
}
}, {
"breakpoint": 992,
"settings": {
 "slidesToShow": 2,
 "slidesToScroll": 2
}
}, {
"breakpoint": 768,
"settings": {
 "slidesToShow": 2,
 "slidesToScroll": 2
}
}, {
"breakpoint": 576,
"settings": {
 "slidesToShow": 1,
 "slidesToScroll": 1
}
}]'>

        <app-testimonio *ngFor="let comment of getCommentList()" [testimonio] = "comment"> </app-testimonio>-->
        <!--<div class="js-slide g-px-15" *ngFor="let testimonio of getCommentList(pagina)" [class.ocultar]="loading==true">
            <div class="g-pos-rel">
                <blockquote class="lead u-blockquote-v1 rounded g-pl-25 g-pr-10 g-py-20 g-mb-40">
                    <p class="comment g-font-size-15"> {{testimonio.content }} </p>
                </blockquote>
                <div class="media">
                    <img class="d-flex align-self-center rounded-circle g-width-60 g-brd-around g-brd-3 g-brd-white mr-3"
                        src="{{testimonio.photoURL}}" alt="Image Description">
                    <div class="media-body align-self-center">
                        <h4 class="h6 g-font-weight-700 g-mb-0">{{ testimonio.commentedBy }}</h4>
                        <em class="g-color-gray-dark-v4 g-font-style-normal">Customer</em>
                    </div>
                </div>
            </div>
        </div>

    </section>-->

    <div id="carouselCus2"
        [class]="ocultar()"
        class="g-pos-rel g-z-index-1 js-carousel js-carousel3 u-carousel-indicators-v32  g-width-200 text-center mx-auto g-mb-20"
        data-infinite="true" data-center-mode="true" data-slides-show="3" data-is-thumbs="true"
        data-nav-for="#carouselCus1-1">
        <div *ngFor="let testimonio of getCommentList(pagina)"
            class="js-slide d-flex text-center g-opacity-1 g-cursor-pointer g-px-13 g-py-50">
            <img class="u-shadow-v22 u-carousel-indicators-v32-img g-width-40 g-height-40 g-brd-around g-brd-2 g-brd-transparent rounded-circle"
                src="{{testimonio.photoURL}}" alt="Image Description">
        </div>
    </div>

    <div id="carouselCus1-1"
        [class]="ocultar()"
        class="g-pos-rel g-z-index-1 js-carousel js-carousel3 g-px-50 g-px-200--lg" data-infinite="true"
        data-arrows-classes="u-arrow-v1 g-absolute-centered--y g-width-45 g-height-45 g-font-size-30 g-color-main-light-v1 g-color-primary--hover"
        data-arrow-left-classes="fa fa-angle-left g-left-0 g-left-40--lg g-mt-minus-50"
        data-arrow-right-classes="fa fa-angle-right g-right-0 g-right-40--lg g-mt-minus-50"
        data-nav-for="#carouselCus2">
        <div *ngFor="let testimonio of getCommentList(pagina)" class="js-slide text-center">
            <blockquote class="g-color-white g-font-size-default g-font-size-18--md g-mb-60">{{testimonio.content }}</blockquote>
            <h4 class="g-color-white g-font-weight-700 g-font-size-15 g-mb-1">{{ testimonio.commentedBy }}</h4>
            <span class="g-font-weight-700 d-block g-font-size-13">{{ testimonio.commentDate | date:'MMM yyyy' }}</span>
        </div>
    </div>
    <!-- End Carousel -->
