<mat-card class="comment-card mat-elevation-z2 example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image" ><img src="{{comment.photoURL}}"> </div>
        <mat-card-title>{{comment.commentedBy}}</mat-card-title>
        <mat-card-subtitle>{{comment.email }} </mat-card-subtitle>
        <mat-card-subtitle class="subtitulo2"> {{comment.commentDate }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <p>{{ showContent ? comment.content : comment.content | truncatetext:100 }}</p>
        <a (click)="setShowContent()">{{ showContent ? "Ocultar" : "Leer más "}} </a>
    </mat-card-content>

    <mat-card-actions>
        <button mat-icon-button matTooltip="Delete comment" matTooltipPosition="before" color="accent"
            (click)="deleteComment()">
            <mat-icon>delete</mat-icon>
        </button>
       <!--  <button [class]="getClasses()" class="btn btn-sm mr-1" (click)="cambiarEstado()">
            {{ comment.activo ? "Desactivar" : "Activar"}}
        </button> -->
        <button mat-icon-button matTooltip="{{ comment.activo ? 'Desactivar' : 'Activar'}} comment" matTooltipPosition="before"
         color="{{ comment.activo ? 'accent' : 'primary'}}" (click)="cambiarEstado()">
         <mat-icon>  {{ comment.activo ? "thumb_down" : " thumb_up"}}        </mat-icon>
        </button>
    </mat-card-actions>

</mat-card>