.example-card {
  max-width: 400px;
}

.example-header-image {
  /*background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');*/
  background-size: cover;
  height: auto !important;
  width: auto !important;
}

.subtitulo2{
  font-size: 10px;
  font-weight: bold;
}

.mat-card-subtitle{
  margin-bottom: 2px !important;
}
