.example-card {
  max-width: 400px;
}

.example-header-image {
  background-size: cover;
  height: auto !important;
  width: auto !important;
}

.subtitulo2{
  font-size: 10px;
  font-weight: bold;
}

.mat-card-subtitle{
  margin-bottom: 2px !important;
}

.comment-card{
  min-height: 188px;
}
