<mat-card class="bg-primary text-white p-2 mb-2" [class.bg-warning]="editing">
    {{editing ? "Modificar" : "Crear"}} Reserva
</mat-card>
<form novalidate #form="ngForm" (ngSubmit)="submitForm(form)" (reset)="resetForm()" class="">
    <div class="row">
        <mat-form-field class="col-8">
            <mat-label>Nombre</mat-label>
            <input matInput name="name" [(ngModel)]="booking.name" #name="ngModel" required
                placeholder="Responsable del booking">
            <mat-hint>Responsoble de la reserva</mat-hint>
            <mat-error *ngFor="let error of getValidationMessages(name)">
                <span [innerHTML]="error"></span>
            </mat-error>
        </mat-form-field>
        <!-- <mat-hint>El menu aparecerá en las recomendaciones del chef</mat-hint> -->
        <mat-form-field class="col-4">
            <mat-label>Persons</mat-label>
            <input matInput name="cantPersonas" [(ngModel)]="booking.cantPersonas" #cantPersonas="ngModel" required
                type="number" placeholder="Persons">
            <span matPrefix>#</span>
            <mat-hint># clientes</mat-hint>
            <mat-error *ngFor="let error of getValidationMessages(cantPersonas)">
                <span [innerHTML]="error"></span>
            </mat-error>
        </mat-form-field>

    </div>
    <div class="row">
        <mat-form-field class="col-7">
            <mat-label>Fecha</mat-label>
            <input matInput [ngModelOptions]="{standalone: true}" name="date" [matDatepicker]="picker"
                [(ngModel)]="booking.date" #date="ngModel" required [min]="minDate" [max]="maxDate"
                class="" readonly>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngFor="let error of getValidationMessages(date)">
                <span [innerHTML]="error"></span>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="col-5">
            <mat-label i18n="Timepicker 1 Title">Hora</mat-label>
            <input matTimepicker #t1="matTimepicker" i18n-okLabel="Timepicker 1 Ok Label" okLabel="Ok"
                i18n-cancelLabel="Timepicker 1 Cancel Label" cancelLabel="Cancel" #time="ngModel" [minDate]="minTime"
                [maxDate]="maxTime" id="timepicker-example-1" mode="24h" ngModel placeholder="Please select time"
                name="time" [ngModel]="timeV" (timeChange)="timeChangeHandler($event)"  required>
            <mat-icon matSuffix (click)="t1.showDialog()">access_time</mat-icon>
            <mat-error *ngIf="time.touched && time.invalid">Formato incorrecto</mat-error>
        </mat-form-field>


    </div>    

    <mat-form-field class="form-control">
        <mat-label>Nota de la reserva</mat-label>
        <textarea matInput placeholder="Aditional booking's information " name="mensaje" [(ngModel)]="booking.mensaje" #mensaje="ngModel"></textarea>
        <mat-hint>Notas adicionales para la reserva</mat-hint>
        <div class="g-pos-abs g-top-0 g-right-0 g-flex-centered g-width-40 h-100 g-color-white">
            <i class="fa fa-comment"></i>
        </div> 
        <mat-error *ngFor="let error of getValidationMessages(mensaje)">
            <span [innerHTML]="error"></span>
        </mat-error>
    </mat-form-field>

    <button type="submit" class="btn btn-primary m-1" [class.btn-warning]="editing" [disabled]="form.invalid">
        {{editing ? "Guardar" : "Crear"}}
    </button>
    <button type="reset" class="btn btn-secondary m-1">Cancel</button>
</form>