<mat-card>
  <mat-card-content>
    <form class="custom-form" #form="ngForm" (ngSubmit)="onSubmit(form)">
      <h2>Log In</h2>

      <mat-error *ngIf="message!='' ">
        {{ message }}
      </mat-error>

      <mat-form-field class="full-width-input">
        <input matInput placeholder="User" [(ngModel)]="user.userName" name="username" #username="ngModel" required>
        <mat-error *ngFor="let error of getValidationMessages(username)">
          <span [innerHTML]="error"></span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width-input">
        <input matInput placeholder="Password" [(ngModel)]="user.password" type="password" name="password" #password="ngModel" required>
        <mat-error *ngFor="let error of getValidationMessages(password)">
          <span [innerHTML]="error"></span>
        </mat-error>
      </mat-form-field>
      
      <button mat-raised-button color="primary" [disabled]="form.invalid">Login</button>
    </form>
  </mat-card-content>
</mat-card>