<div class="g-pos-rel g-top-3 d-inline-block" >
    <!--   (focusout)="focusout($event)"   (mouseout)="mouseout()" (mouseover)="mouseover()" -->
  <a id="{{invoker}}"  (click)="clicked();$event.preventDefault()" 
    [class.active]="activo" 
    class="u-link-v5 g-line-height-0 g-font-size-24 g-color-gray-light-v6 g-color-secondary--hover" href="#" [attr.aria-controls]="dropdown" aria-haspopup="true" aria-expanded="false" data-dropdown-event="click" [attr.data-dropdown-target]="'#'+dropdown">
      <i class="hs-admin-more-alt"></i>
    </a>
<!-- (blur)="clicked()"  [class]="getClasses()"  (focus)="focus()"-->
    <div id="{{ dropdown }}"    
    [class]="getClasses()" 
    class="u-shadow-v31 g-pos-abs g-right-0 g-z-index-2 g-bg-white u-dropdown--css-animation u-dropdown" [attr.aria-labelledby]="invoker">
      <ul class="list-unstyled g-nowrap mb-0"  >
        <li>
          <a (click)="accion();$event.preventDefault()" class="d-flex align-items-center u-link-v5 g-bg-gray-light-v8--hover g-font-size-12 g-font-size-default--md g-color-gray-dark-v6 g-px-25 g-py-14" href="#">
            <i class="hs-admin-pencil g-font-size-18 g-color-gray-light-v6 g-mr-10 g-mr-15--md"></i>
            Edit
          </a>
        </li>
        <li>
          <a (click)="accion();$event.preventDefault()" class="d-flex align-items-center u-link-v5 g-bg-gray-light-v8--hover g-font-size-12 g-font-size-default--md g-color-gray-dark-v6 g-px-25 g-py-14" href="#">
            <i class="hs-admin-trash g-font-size-18 g-color-gray-light-v6 g-mr-10 g-mr-15--md"></i>
            Delete
          </a>
        </li>
      </ul>
    </div>
  </div>
