<!-- Section Content -->
<section id="ourTeem" class="g-py-100">
    <div class="container g-max-width-780 text-center g-mb-60">
        <div
            class="text-center text-uppercase u-heading-v5-3 u-heading-v5-color-primary u-heading-v5-rounded-50x g-mb-20">
            <h4 class="g-font-weight-700 g-font-size-12 g-color-primary g-mb-15">Our team</h4>
            <h2
                class="u-heading-v5__title g-line-height-1_2 g-font-weight-700 g-font-size-32 g-font-size-40--md g-bg-primary--before g-pb-40">
                Meet the professionals</h2>
        </div>
    </div>

    <div class="container">
        <!-- Carousel -->
        <section class="js-carousel g-pb-90 g-mx-minus-15" data-slides-show="4" data-slides-scroll="4"
            data-arrows-classes="u-arrow-v1 g-pos-abs g-bottom-0 g-width-45 g-height-45 g-color-gray-dark-v5 g-color-white--hover g-theme-bg-gray-light-v2 g-bg-primary--hover g-transition-0_2 g-transition--ease-in"
            data-arrow-left-classes="fa fa-chevron-left g-left-15 g-left-35x--md"
            data-arrow-right-classes="fa fa-chevron-right g-right-15 g-right-35x--md"
            data-pagi-classes="u-carousel-indicators-v1 g-absolute-centered--x g-bottom-20 text-center" data-responsive='[{
             "breakpoint": 1200,
             "settings": {
               "slidesToShow": 4,
               "slidesToScroll": 4
             }
           }, {
             "breakpoint": 992,
             "settings": {
               "slidesToShow": 3,
               "slidesToScroll": 3
             }
           }, {
             "breakpoint": 768,
             "settings": {
               "slidesToShow": 2,
               "slidesToScroll": 2
             }
           }, {
             "breakpoint": 576,
             "settings": {
               "slidesToShow": 1,
               "slidesToScroll": 1
             }
           }]'>
            <div class="js-slide g-px-15">
                <!-- Figure -->
                <figure class="text-center g-pos-rel">
                    <!-- Figure Image -->
                    <img class="w-100" src="assets/img-temp/810x1350/img1.jpg" alt="Image description">
                    <!-- End Figure Image -->

                    <!-- Figure Caption -->
                    <figcaption
                        class="g-pos-abs g-top-0 g-left-0 d-flex w-100 h-100 g-bg-primary-opacity-0_9 opacity-0 g-opacity-1--hover g-transition-0_2 g-transition--ease-in">
                        <div class="align-self-center g-pa-20">
                            <p class="text-uppercase g-font-size-11 g-color-white-opacity-0_7 g-mb-15">Chef</p>
                            <h2 class="text-uppercase g-font-weight-700 g-font-size-16 g-color-white g-mb-15">George
                                Freeman</h2>
                            <p class="g-font-size-default g-color-white-opacity-0_7 g-mb-20 g-px-10">Lorem ipsum dolor
                                sit amet, consectetur adipiscing elit.</p>
                            <ul class="list-inline g-mb-0">
                                <li class="list-inline-item g-mx-1">
                                    <a href="#"
                                        class="u-icon u-icon-v3 g-width-35 g-height-35 g-font-size-default g-color-white g-color-primary--hover g-bg-white-opacity-0_5 g-bg-white--hover">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item g-mx-1">
                                    <a href="#"
                                        class="u-icon u-icon-v3 g-width-35 g-height-35 g-font-size-default g-color-white g-color-primary--hover g-bg-white-opacity-0_5 g-bg-white--hover">
                                        <i class="fa fa-pinterest"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item g-mx-1">
                                    <a href="#"
                                        class="u-icon u-icon-v3 g-width-35 g-height-35 g-font-size-default g-color-white g-color-primary--hover g-bg-white-opacity-0_5 g-bg-white--hover">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item g-mx-1">
                                    <a href="#"
                                        class="u-icon u-icon-v3 g-width-35 g-height-35 g-font-size-default g-color-white g-color-primary--hover g-bg-white-opacity-0_5 g-bg-white--hover">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </figcaption>
                    <!-- End Figure Caption-->
                </figure>
                <!-- End Figure -->
            </div>

            <div class="js-slide g-px-15">
                <!-- Figure -->
                <figure class="text-center g-pos-rel">
                    <!-- Figure Image -->
                    <img class="w-100" src="assets/img-temp/810x1350/img2.jpg" alt="Image description">
                    <!-- End Figure Image -->

                    <!-- Figure Caption -->
                    <figcaption
                        class="g-pos-abs g-top-0 g-left-0 d-flex w-100 h-100 g-bg-primary-opacity-0_9 opacity-0 g-opacity-1--hover g-transition-0_2 g-transition--ease-in">
                        <div class="align-self-center g-pa-20">
                            <p class="text-uppercase g-font-size-11 g-color-white-opacity-0_7 g-mb-15">Chef</p>
                            <h2 class="text-uppercase g-font-weight-700 g-font-size-16 g-color-white g-mb-15">Hilary
                                Johnson</h2>
                            <p class="g-font-size-default g-color-white-opacity-0_7 g-mb-20 g-px-10">Lorem ipsum dolor
                                sit amet, consectetur adipiscing elit.</p>
                            <ul class="list-inline g-mb-0">
                                <li class="list-inline-item g-mx-1">
                                    <a href="#"
                                        class="u-icon u-icon-v3 g-width-35 g-height-35 g-font-size-default g-color-white g-color-primary--hover g-bg-white-opacity-0_5 g-bg-white--hover">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item g-mx-1">
                                    <a href="#"
                                        class="u-icon u-icon-v3 g-width-35 g-height-35 g-font-size-default g-color-white g-color-primary--hover g-bg-white-opacity-0_5 g-bg-white--hover">
                                        <i class="fa fa-pinterest"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item g-mx-1">
                                    <a href="#"
                                        class="u-icon u-icon-v3 g-width-35 g-height-35 g-font-size-default g-color-white g-color-primary--hover g-bg-white-opacity-0_5 g-bg-white--hover">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item g-mx-1">
                                    <a href="#"
                                        class="u-icon u-icon-v3 g-width-35 g-height-35 g-font-size-default g-color-white g-color-primary--hover g-bg-white-opacity-0_5 g-bg-white--hover">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </figcaption>
                    <!-- End Figure Caption-->
                </figure>
                <!-- End Figure -->
            </div>

            <div class="js-slide g-px-15">
                <!-- Figure -->
                <figure class="text-center g-pos-rel">
                    <!-- Figure Image -->
                    <img class="w-100" src="assets/img-temp/810x1350/img3.jpg" alt="Image description">
                    <!-- End Figure Image -->

                    <!-- Figure Caption -->
                    <figcaption
                        class="g-pos-abs g-top-0 g-left-0 d-flex w-100 h-100 g-bg-primary-opacity-0_9 opacity-0 g-opacity-1--hover g-transition-0_2 g-transition--ease-in">
                        <div class="align-self-center g-pa-20">
                            <p class="text-uppercase g-font-size-11 g-color-white-opacity-0_7 g-mb-15">Chef</p>
                            <h2 class="text-uppercase g-font-weight-700 g-font-size-16 g-color-white g-mb-15">Alice
                                Regen</h2>
                            <p class="g-font-size-default g-color-white-opacity-0_7 g-mb-20 g-px-10">Lorem ipsum dolor
                                sit amet, consectetur adipiscing elit.</p>
                            <ul class="list-inline g-mb-0">
                                <li class="list-inline-item g-mx-1">
                                    <a href="#"
                                        class="u-icon u-icon-v3 g-width-35 g-height-35 g-font-size-default g-color-white g-color-primary--hover g-bg-white-opacity-0_5 g-bg-white--hover">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item g-mx-1">
                                    <a href="#"
                                        class="u-icon u-icon-v3 g-width-35 g-height-35 g-font-size-default g-color-white g-color-primary--hover g-bg-white-opacity-0_5 g-bg-white--hover">
                                        <i class="fa fa-pinterest"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item g-mx-1">
                                    <a href="#"
                                        class="u-icon u-icon-v3 g-width-35 g-height-35 g-font-size-default g-color-white g-color-primary--hover g-bg-white-opacity-0_5 g-bg-white--hover">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item g-mx-1">
                                    <a href="#"
                                        class="u-icon u-icon-v3 g-width-35 g-height-35 g-font-size-default g-color-white g-color-primary--hover g-bg-white-opacity-0_5 g-bg-white--hover">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </figcaption>
                    <!-- End Figure Caption-->
                </figure>
                <!-- End Figure -->
            </div>

            <div class="js-slide g-px-15">
                <!-- Figure -->
                <figure class="text-center g-pos-rel">
                    <!-- Figure Image -->
                    <img class="w-100" src="assets/img-temp/810x1350/img4.jpg" alt="Image description">
                    <!-- End Figure Image -->

                    <!-- Figure Caption -->
                    <figcaption
                        class="g-pos-abs g-top-0 g-left-0 d-flex w-100 h-100 g-bg-primary-opacity-0_9 opacity-0 g-opacity-1--hover g-transition-0_2 g-transition--ease-in">
                        <div class="align-self-center g-pa-20">
                            <p class="text-uppercase g-font-size-11 g-color-white-opacity-0_7 g-mb-15">Chef</p>
                            <h2 class="text-uppercase g-font-weight-700 g-font-size-16 g-color-white g-mb-15">Kate Dolli
                            </h2>
                            <p class="g-font-size-default g-color-white-opacity-0_7 g-mb-20 g-px-10">Lorem ipsum dolor
                                sit amet, consectetur adipiscing elit.</p>
                            <ul class="list-inline g-mb-0">
                                <li class="list-inline-item g-mx-1">
                                    <a href="#"
                                        class="u-icon u-icon-v3 g-width-35 g-height-35 g-font-size-default g-color-white g-color-primary--hover g-bg-white-opacity-0_5 g-bg-white--hover">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item g-mx-1">
                                    <a href="#"
                                        class="u-icon u-icon-v3 g-width-35 g-height-35 g-font-size-default g-color-white g-color-primary--hover g-bg-white-opacity-0_5 g-bg-white--hover">
                                        <i class="fa fa-pinterest"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item g-mx-1">
                                    <a href="#"
                                        class="u-icon u-icon-v3 g-width-35 g-height-35 g-font-size-default g-color-white g-color-primary--hover g-bg-white-opacity-0_5 g-bg-white--hover">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item g-mx-1">
                                    <a href="#"
                                        class="u-icon u-icon-v3 g-width-35 g-height-35 g-font-size-default g-color-white g-color-primary--hover g-bg-white-opacity-0_5 g-bg-white--hover">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </figcaption>
                    <!-- End Figure Caption-->
                </figure>
                <!-- End Figure -->
            </div>

            <div class="js-slide g-px-15">
                <!-- Figure -->
                <figure class="text-center g-pos-rel">
                    <!-- Figure Image -->
                    <img class="w-100" src="assets/img-temp/810x1350/img5.jpg" alt="Image description">
                    <!-- End Figure Image -->

                    <!-- Figure Caption -->
                    <figcaption
                        class="g-pos-abs g-top-0 g-left-0 d-flex w-100 h-100 g-bg-primary-opacity-0_9 opacity-0 g-opacity-1--hover g-transition-0_2 g-transition--ease-in">
                        <div class="align-self-center g-pa-20">
                            <p class="text-uppercase g-font-size-11 g-color-white-opacity-0_7 g-mb-15">Chef</p>
                            <h2 class="text-uppercase g-font-weight-700 g-font-size-16 g-color-white g-mb-15">Mona
                                Watson</h2>
                            <p class="g-font-size-default g-color-white-opacity-0_7 g-mb-20 g-px-10">Lorem ipsum dolor
                                sit amet, consectetur adipiscing elit.</p>
                            <ul class="list-inline g-mb-0">
                                <li class="list-inline-item g-mx-1">
                                    <a href="#"
                                        class="u-icon u-icon-v3 g-width-35 g-height-35 g-font-size-default g-color-white g-color-primary--hover g-bg-white-opacity-0_5 g-bg-white--hover">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item g-mx-1">
                                    <a href="#"
                                        class="u-icon u-icon-v3 g-width-35 g-height-35 g-font-size-default g-color-white g-color-primary--hover g-bg-white-opacity-0_5 g-bg-white--hover">
                                        <i class="fa fa-pinterest"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item g-mx-1">
                                    <a href="#"
                                        class="u-icon u-icon-v3 g-width-35 g-height-35 g-font-size-default g-color-white g-color-primary--hover g-bg-white-opacity-0_5 g-bg-white--hover">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item g-mx-1">
                                    <a href="#"
                                        class="u-icon u-icon-v3 g-width-35 g-height-35 g-font-size-default g-color-white g-color-primary--hover g-bg-white-opacity-0_5 g-bg-white--hover">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </figcaption>
                    <!-- End Figure Caption-->
                </figure>
                <!-- End Figure -->
            </div>

            <div class="js-slide g-px-15">
                <!-- Figure -->
                <figure class="text-center g-pos-rel">
                    <!-- Figure Image -->
                    <img class="w-100" src="assets/img-temp/810x1350/img6.jpg" alt="Image description">
                    <!-- End Figure Image -->

                    <!-- Figure Caption -->
                    <figcaption
                        class="g-pos-abs g-top-0 g-left-0 d-flex w-100 h-100 g-bg-primary-opacity-0_9 opacity-0 g-opacity-1--hover g-transition-0_2 g-transition--ease-in">
                        <div class="align-self-center g-pa-20">
                            <p class="text-uppercase g-font-size-11 g-color-white-opacity-0_7 g-mb-15">Chef</p>
                            <h2 class="text-uppercase g-font-weight-700 g-font-size-16 g-color-white g-mb-15">Edward
                                Luma</h2>
                            <p class="g-font-size-default g-color-white-opacity-0_7 g-mb-20 g-px-10">Lorem ipsum dolor
                                sit amet, consectetur adipiscing elit.</p>
                            <ul class="list-inline g-mb-0">
                                <li class="list-inline-item g-mx-1">
                                    <a href="#"
                                        class="u-icon u-icon-v3 g-width-35 g-height-35 g-font-size-default g-color-white g-color-primary--hover g-bg-white-opacity-0_5 g-bg-white--hover">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item g-mx-1">
                                    <a href="#"
                                        class="u-icon u-icon-v3 g-width-35 g-height-35 g-font-size-default g-color-white g-color-primary--hover g-bg-white-opacity-0_5 g-bg-white--hover">
                                        <i class="fa fa-pinterest"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item g-mx-1">
                                    <a href="#"
                                        class="u-icon u-icon-v3 g-width-35 g-height-35 g-font-size-default g-color-white g-color-primary--hover g-bg-white-opacity-0_5 g-bg-white--hover">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item g-mx-1">
                                    <a href="#"
                                        class="u-icon u-icon-v3 g-width-35 g-height-35 g-font-size-default g-color-white g-color-primary--hover g-bg-white-opacity-0_5 g-bg-white--hover">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </figcaption>
                    <!-- End Figure Caption-->
                </figure>
                <!-- End Figure -->
            </div>

            <div class="js-slide g-px-15">
                <!-- Figure -->
                <figure class="text-center g-pos-rel">
                    <!-- Figure Image -->
                    <img class="w-100" src="assets/img-temp/810x1350/img7.jpg" alt="Image description">
                    <!-- End Figure Image -->

                    <!-- Figure Caption -->
                    <figcaption
                        class="g-pos-abs g-top-0 g-left-0 d-flex w-100 h-100 g-bg-primary-opacity-0_9 opacity-0 g-opacity-1--hover g-transition-0_2 g-transition--ease-in">
                        <div class="align-self-center g-pa-20">
                            <p class="text-uppercase g-font-size-11 g-color-white-opacity-0_7 g-mb-15">Chef</p>
                            <h2 class="text-uppercase g-font-weight-700 g-font-size-16 g-color-white g-mb-15">Shadiah
                                Dolumn</h2>
                            <p class="g-font-size-default g-color-white-opacity-0_7 g-mb-20 g-px-10">Lorem ipsum dolor
                                sit amet, consectetur adipiscing elit.</p>
                            <ul class="list-inline g-mb-0">
                                <li class="list-inline-item g-mx-1">
                                    <a href="#"
                                        class="u-icon u-icon-v3 g-width-35 g-height-35 g-font-size-default g-color-white g-color-primary--hover g-bg-white-opacity-0_5 g-bg-white--hover">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item g-mx-1">
                                    <a href="#"
                                        class="u-icon u-icon-v3 g-width-35 g-height-35 g-font-size-default g-color-white g-color-primary--hover g-bg-white-opacity-0_5 g-bg-white--hover">
                                        <i class="fa fa-pinterest"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item g-mx-1">
                                    <a href="#"
                                        class="u-icon u-icon-v3 g-width-35 g-height-35 g-font-size-default g-color-white g-color-primary--hover g-bg-white-opacity-0_5 g-bg-white--hover">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item g-mx-1">
                                    <a href="#"
                                        class="u-icon u-icon-v3 g-width-35 g-height-35 g-font-size-default g-color-white g-color-primary--hover g-bg-white-opacity-0_5 g-bg-white--hover">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </figcaption>
                    <!-- End Figure Caption-->
                </figure>
                <!-- End Figure -->
            </div>
        </section>
        <!-- End Carousel -->
    </div>
</section>
<!-- End Section Content -->