/*@media (min-width: 500px) {
    .cbp-lightbox img{
        height:250px
    }
}

@media (min-width: 800px) {
    .cbp-lightbox img{
        height:160px
    }
}*/
.u-arrow-v1:before{
    left: 0;
    top:10%;
}