<!-- Section Content  g-bg-primary-->
<section id="gallery" class="g-pt-100 g-bg-gray-light-v5">
    <!-- SVG Background 
    <svg class="g-pos-rel g-top-minus-120" version="1.1" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="140px" viewBox="20 -20 300 100">
        <path d="M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729
    c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z" opacity="0.4" fill="#2979ff" />
        <path d="M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729
    c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z" opacity="0.4" fill="#2979ff" />
        <path d="M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716
    H42.401L43.415,98.342z" opacity="0" fill="#2979ff" />
        <path d="M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428
    c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z" fill="#2979ff" />
      </svg>
       End SVG Background 
    <div class="container g-max-width-780 text-center g-mb-60">
        <div
            class="text-center text-uppercase u-heading-v5-3 u-heading-v5-color-primary u-heading-v5-rounded-50x g-mb-20">
            <h4 class="g-font-weight-700 g-font-size-12 g-color-white-opacity-0_7 g-mb-15">
                Moment's gallery
            </h4>
            <h2
                class="u-heading-v5__title g-line-height-1_2 g-font-weight-700 g-font-size-32 g-font-size-40--md g-color-white g-bg-white--before g-pb-40">
                Look at these moment
            </h2>
        </div>
    </div>-->


    <div class="container g-max-width-780 text-center g-mb-20 g-mb-60--md">
        <div
            class="text-center text-uppercase u-heading-v5-3 u-heading-v5-color-primary u-heading-v5-rounded-50x g-mb-20">
            <h4 class="g-font-weight-700 g-font-size-12 g-color-primary g-mb-15">Moment's gallery</h4>
            <h2
                class="u-heading-v5__title g-line-height-1_2 g-font-weight-700 g-font-size-32 g-font-size-40--md g-bg-primary--before g-pb-40">
                Look at these moment</h2>
        </div>
    </div>


    <!-- <button (click)="cambiarPagina(pagina+1,$event)"  class="btn btn-md u-btn-inset u-btn-inset--rounded u-btn-primary g-font-weight-600 g-letter-spacing-0_5 text-uppercase g-brd-2 g-rounded-50 g-mr-10 g-mb-15">
        <i class="fa fa-check-circle g-mr-3"></i>
        More
      </button>
      <button (click)="remove()"  class="btn btn-md u-btn-inset u-btn-inset--rounded u-btn-primary g-font-weight-600 g-letter-spacing-0_5 text-uppercase g-brd-2 g-rounded-50 g-mr-10 g-mb-15">
        <i class="fa fa-check-circle g-mr-3"></i>
       Remove
      </button> fa-angle-left
    btn g-bg-primary--hover g-color-gray-dark-v5 g-ml-10 g-mr-10 g-theme-bg-gray-light-v2 g-transition-0_2 g-transition--ease-in fa fa-chevron-left -->

    <div class="text-center">
        <button (click)="cambiarPagina(pagina-1,$event)" [disabled]="pagina-1<1" [class]="getClasses(pagina-1)"
            class="btn g-color-white--hover g-bg-white g-bg-primary--hover g-transition-0_2 g-transition--ease-in fa fa-chevron-left slick-arrow  g-mb-15 rounded-0 u-arrow-v1 g-width-60 g-height-60">
        </button>
        <!-- btn u-btn-outline-white  g-mr-10 g-mb-15  fa-angle-right-->
        <button (click)="cambiarPagina(pagina+1,$event)" [disabled]="pagina+1>cantidadPagina()"
            [class]="getClasses(pagina+1)"
            class="btn g-color-white--hover g-bg-white g-bg-primary--hover g-transition-0_2 g-transition--ease-in fa fa-chevron-right  slick-arrow g-mr-10 g-mb-15 rounded-0 u-arrow-v1 g-width-60 g-height-60">
        </button>
    </div>
    <!-- <app-portafolio1 [eventos]="eventos()"></app-portafolio1>-->
    <app-portafolio2 [eventos]="eventos(pagina)"></app-portafolio2>

    <!-- SVG Background g-top-minus-120-->
    <svg class="g-pos-rel " version="1.1" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="140px" viewBox="20 -20 300 100">
        <path d="M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729
    c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z" opacity="0.4" fill="#2979ff" />
        <path d="M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729
    c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z" opacity="0.4" fill="#2979ff" />
        <path d="M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716
    H42.401L43.415,98.342z" opacity="0" fill="#2979ff" />
        <path d="M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428
    c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z" fill="#2979ff" />
    </svg>
    <!-- End SVG Background -->

    <!-- SVG Background 
       <svg class="g-pos-rel g-top-minus-120" version="1.1" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="140px" viewBox="20 -20 300 100">
        <path d="M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729
    c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z" opacity="0.4" fill="#f0f1f3" />
        <path d="M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729
    c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z" opacity="0.4" fill="#f0f1f3" />
        <path d="M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716
    H42.401L43.415,98.342z" opacity="0" fill="#fafbfc" />
        <path d="M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428
    c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z" fill="#fafbfc" />
      </svg>
     End SVG Background -->

</section>
<!-- End Section Content -->