<!-- Section Content -->
<section id="gallery" class="g-bg-primary g-pt-100" (window:resize)="onResize($event)">
    <div class="container g-max-width-780 text-center g-mb-60">
        <div
            class="text-center text-uppercase u-heading-v5-3 u-heading-v5-color-primary u-heading-v5-rounded-50x g-mb-20">
            <h4 class="g-font-weight-700 g-font-size-12 g-color-white-opacity-0_7 g-mb-15">
                Moment's gallery
            </h4>
            <h2
                class="u-heading-v5__title g-line-height-1_2 g-font-weight-700 g-font-size-32 g-font-size-40--md g-color-white g-bg-white--before g-pb-40">
                Look at these moment
            </h2>
        </div>
    </div>

    <div class="cbp" data-layout="grid" data-animation="slideLeft" data-caption-animation="fadeIn" data-x-gap="0"
        data-y-gap="0" data-media-queries='[
           {"width": 1600, "cols": 5},
           {"width": 1200, "cols": 5},
           {"width": 800, "cols": 5},
           {"width": 500, "cols": 2},
           {"width": 320, "cols": 1}
         ]' >
        <div  class="cbp-item"  *ngFor="let evento of eventos();let index=index" >
            <a class="cbp-caption cbp-lightbox" href="{{ imagenEvento(evento) }}" data-title="{{evento.name}}"
             ><!-- style="width: 191px; height: 191px;"  (load)="onImageLoad($event)" width="400" [style.height.px]="height"-->
                <div class="cbp-caption-defaultWrap">
                    <img  class="img-f" src="{{ imagenEvento(evento) }}"  [style.height.px]="height"  alt="{{evento.name}}" >
                </div>

                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <p
                                class="cbp-l-caption-pretitle text-uppercase g-font-size-11 g-color-white-opacity-0_7 g-mb-15">
                                Fish</p>
                            <h2
                                class="cbp-l-caption-title text-uppercase g-font-weight-700 g-font-size-16 g-color-white g-mb-15">
                                {{evento.name}}</h2>
                            <p class="g-font-size-default g-color-white-opacity-0_7 mb-0 g-px-10">
                                {{ evento.descripcion}}
                            </p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!--<div class="cbp-item">
            <a class="cbp-caption cbp-lightbox" href="../../../assets/img-temp/560x560/img1.jpg" data-title="Custom Title 7">
                <div class="cbp-caption-defaultWrap">
                    <img src="../../../assets/img-temp/560x560/img1.jpg" alt="Image description">
                </div>

                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <p
                                class="cbp-l-caption-pretitle text-uppercase g-font-size-11 g-color-white-opacity-0_7 g-mb-15">
                                Fish</p>
                            <h2
                                class="cbp-l-caption-title text-uppercase g-font-weight-700 g-font-size-16 g-color-white g-mb-15">
                                Tim Burton</h2>
                            <p class="g-font-size-default g-color-white-opacity-0_7 mb-0 g-px-10">Nam ullamcorper mauris
                                ex, ut efficitur est convallis nec</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>

         <div class="cbp-item">
            <a class="cbp-caption cbp-lightbox" href="../../../assets/img-temp/560x560/img2.jpg" data-title="Custom Title 2">
                <div class="cbp-caption-defaultWrap">
                    <img src="../../../assets/img-temp/560x560/img2.jpg" alt="Image description">
                </div>

                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <p
                                class="cbp-l-caption-pretitle text-uppercase g-font-size-11 g-color-white-opacity-0_7 g-mb-15">
                                Fish</p>
                            <h2
                                class="cbp-l-caption-title text-uppercase g-font-weight-700 g-font-size-16 g-color-white g-mb-15">
                                Tim Burton</h2>
                            <p class="g-font-size-default g-color-white-opacity-0_7 mb-0 g-px-10">Nam ullamcorper mauris
                                ex, ut efficitur est convallis nec</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="cbp-item">
            <a class="cbp-caption cbp-lightbox" href="../../../assets/img-temp/560x560/img3.jpg" data-title="Custom Title 3">
                <div class="cbp-caption-defaultWrap">
                    <img src="../../../assets/img-temp/560x560/img3.jpg" alt="Image description">
                </div>

                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <p
                                class="cbp-l-caption-pretitle text-uppercase g-font-size-11 g-color-white-opacity-0_7 g-mb-15">
                                Fish</p>
                            <h2
                                class="cbp-l-caption-title text-uppercase g-font-weight-700 g-font-size-16 g-color-white g-mb-15">
                                Tim Burton</h2>
                            <p class="g-font-size-default g-color-white-opacity-0_7 mb-0 g-px-10">Nam ullamcorper mauris
                                ex, ut efficitur est convallis nec</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="cbp-item">
            <a class="cbp-caption cbp-lightbox" href="../../../assets/img-temp/560x560/img4.jpg" data-title="Custom Title 4">
                <div class="cbp-caption-defaultWrap">
                    <img src="../../../assets/img-temp/560x560/img4.jpg" alt="Image description">
                </div>

                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <p
                                class="cbp-l-caption-pretitle text-uppercase g-font-size-11 g-color-white-opacity-0_7 g-mb-15">
                                Fish</p>
                            <h2
                                class="cbp-l-caption-title text-uppercase g-font-weight-700 g-font-size-16 g-color-white g-mb-15">
                                Tim Burton</h2>
                            <p class="g-font-size-default g-color-white-opacity-0_7 mb-0 g-px-10">Nam ullamcorper mauris
                                ex, ut efficitur est convallis nec</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="cbp-item">
            <a class="cbp-caption cbp-lightbox" href="../../../assets/img-temp/560x560/img5.jpg" data-title="Custom Title 5">
                <div class="cbp-caption-defaultWrap">
                    <img src="../../../assets/img-temp/560x560/img5.jpg" alt="Image description">
                </div>

                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <p
                                class="cbp-l-caption-pretitle text-uppercase g-font-size-11 g-color-white-opacity-0_7 g-mb-15">
                                Fish</p>
                            <h2
                                class="cbp-l-caption-title text-uppercase g-font-weight-700 g-font-size-16 g-color-white g-mb-15">
                                Tim Burton</h2>
                            <p class="g-font-size-default g-color-white-opacity-0_7 mb-0 g-px-10">Nam ullamcorper mauris
                                ex, ut efficitur est convallis nec</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="cbp-item">
            <a class="cbp-caption cbp-lightbox" href="../../../assets/img-temp/560x560/img6.jpg" data-title="Custom Title 6">
                <div class="cbp-caption-defaultWrap">
                    <img src="../../../assets/img-temp/560x560/img6.jpg" alt="Image description">
                </div>

                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <p
                                class="cbp-l-caption-pretitle text-uppercase g-font-size-11 g-color-white-opacity-0_7 g-mb-15">
                                Fish</p>
                            <h2
                                class="cbp-l-caption-title text-uppercase g-font-weight-700 g-font-size-16 g-color-white g-mb-15">
                                Tim Burton</h2>
                            <p class="g-font-size-default g-color-white-opacity-0_7 mb-0 g-px-10">Nam ullamcorper mauris
                                ex, ut efficitur est convallis nec</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="cbp-item">
            <a class="cbp-caption cbp-lightbox" href="../../../assets/img-temp/560x560/img7.jpg" data-title="Custom Title 7">
                <div class="cbp-caption-defaultWrap">
                    <img src="../../../assets/img-temp/560x560/img7.jpg" alt="Image description">
                </div>

                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <p
                                class="cbp-l-caption-pretitle text-uppercase g-font-size-11 g-color-white-opacity-0_7 g-mb-15">
                                Fish</p>
                            <h2
                                class="cbp-l-caption-title text-uppercase g-font-weight-700 g-font-size-16 g-color-white g-mb-15">
                                Tim Burton</h2>
                            <p class="g-font-size-default g-color-white-opacity-0_7 mb-0 g-px-10">Nam ullamcorper mauris
                                ex, ut efficitur est convallis nec</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="cbp-item">
            <a class="cbp-caption cbp-lightbox" href="../../../assets/img-temp/560x560/img8.jpg" data-title="Custom Title 8">
                <div class="cbp-caption-defaultWrap">
                    <img src="../../../assets/img-temp/560x560/img8.jpg" alt="Image description">
                </div>

                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <p
                                class="cbp-l-caption-pretitle text-uppercase g-font-size-11 g-color-white-opacity-0_7 g-mb-15">
                                Fish</p>
                            <h2
                                class="cbp-l-caption-title text-uppercase g-font-weight-700 g-font-size-16 g-color-white g-mb-15">
                                Tim Burton</h2>
                            <p class="g-font-size-default g-color-white-opacity-0_7 mb-0 g-px-10">Nam ullamcorper mauris
                                ex, ut efficitur est convallis nec</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="cbp-item">
            <a class="cbp-caption cbp-lightbox" href="../../../assets/img-temp/560x560/img9.jpg" data-title="Custom Title 9">
                <div class="cbp-caption-defaultWrap">
                    <img src="../../../assets/img-temp/560x560/img9.jpg" alt="Image description">
                </div>

                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <p
                                class="cbp-l-caption-pretitle text-uppercase g-font-size-11 g-color-white-opacity-0_7 g-mb-15">
                                Fish</p>
                            <h2
                                class="cbp-l-caption-title text-uppercase g-font-weight-700 g-font-size-16 g-color-white g-mb-15">
                                Tim Burton</h2>
                            <p class="g-font-size-default g-color-white-opacity-0_7 mb-0 g-px-10">Nam ullamcorper mauris
                                ex, ut efficitur est convallis nec</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="cbp-item">
            <a class="cbp-caption cbp-lightbox" href="../../../assets/img-temp/560x560/img10.jpg" data-title="Custom Title 10">
                <div class="cbp-caption-defaultWrap">
                    <img src="../../../assets/img-temp/560x560/img10.jpg" alt="Image description">
                </div>

                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <p
                                class="cbp-l-caption-pretitle text-uppercase g-font-size-11 g-color-white-opacity-0_7 g-mb-15">
                                Fish</p>
                            <h2
                                class="cbp-l-caption-title text-uppercase g-font-weight-700 g-font-size-16 g-color-white g-mb-15">
                                Tim Burton</h2>
                            <p class="g-font-size-default g-color-white-opacity-0_7 mb-0 g-px-10">Nam ullamcorper mauris
                                ex, ut efficitur est convallis nec</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    -->
    </div>
</section>
<!-- End Section Content -->