/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
.container {
    padding-top: 60px;
}

.example-panel-blue.mat-select-panel {
    background: rgba(0, 0, 255, 0.5);
}

.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
}

.example-margin {
    margin: 0 10px;
}

.spiner-tabla {
    width: 100%;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* mensges del snack bar*/
.snackbar-ribon {
    color: #ffffff;
    background: #17a2b8;
}
