#uploadFile {
    top: 0px;
    left: 0px;
    width: 100%;    
    z-index: 9;
    opacity: 0;
    height: 100%;
    cursor: pointer;
    position: absolute;
}

.ng-invalid .ng-touched ~ mat-toolbar input, .ng-invalid .ng-touched ~ mat-toolbar button{
    color: red;
}

.ng-valid  ~ mat-toolbar input {
    color: black;
}

.ng-valid  ~ mat-toolbar button {
    color: white;
}
